<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>添加管理员</title>
</head>
<body>
<div class="pd-20">
    <form action="__URL__/upload" method="post" enctype="multipart/form-data" class="form form-horizontal" id="form-img-add">
        <!--
        <div class="row cl">
            <label class="form-label col-3">
                <span class="c-red">*</span>分类：
            </label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="" placeholder="" id="category_id" name="category_id" datatype="*1-100" nullmsg="分类不能为空">
            </div>
            <div class="col-4"> </div>
        </div>
        -->
    
        <div class="row cl">
            <label class="form-label col-3">
                <span class="c-red">*</span>图片名称：
            </label>
            <div class="formControls col-5">
                <input type="text"  name="imgname" placeholder="请填写图片的名称" id="img-name" autocomplete="off" value="" class="input-text" datatype="*1-100" nullmsg="图片名称不能为空">
            </div>
            <div class="col-4"> </div>
        </div>


        <div class="row cl">
            <label class="form-label col-3">
                <span class="c-red">*</span>图片上传：
            </label>
            <div class="formControls col-5">
               <input type="file" name="photo">
            </div>
            <div class="col-4"> </div>
        </div>
        
        <div class="row cl">
            <label class="form-label col-3">
                <span class="c-red">*</span>发布状态：
            </label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="" placeholder="请填正整数，0代表禁用" id="img-state" name="state"  datatype="*1-100" nullmsg="发布状态不能为空">
            </div>
            <div class="col-4"> </div>
        </div>
        
        
        <div class="row cl">
            <div class="col-9 col-offset-3">
                <input class="btn btn-primary radius" id="up" type="submit" name="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/Validform/5.3.2/Validform.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/1.9.3/layer.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script> 
<script type="text/javascript">
$(function(){
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });
    
    $("#form-img-add").Validform({
        tiptype:2,
        callback:function(form){
            form[0].submit();
            var index = parent.layer.getFrameIndex(window.name);
            parent.$('.btn-refresh').click();
            parent.layer.close(index);
        }
    });
    /*
    $('#up').click(function(){
        category = $('#category_id').val();
        name = $('#img-name').val();
        state = $('#img-state').val();
        imgurl = $('#img-url').val();
        //alert(imgurl);

        
        if(!(category == '' || name == '' || state == ''|| imgurl == '')){  
            $.ajax({ 
                type:"post",
                url:"{:U('imgAdd')}",
                data:'category_id='+category+'&imgname='+name+'&state='+state+'&imgurl='+imgurl,
                success:function(data){ 
                    if(data == 1){                     
                        alert('添加成功！');
                        window.parent.location.reload();        
                    }else{ 
                        alert('添加失败！');
                        window.parent.location.reload();
                    }
                }

            });
        }
    });
*/
    
});
</script>
</body>
</html>