<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico" >
<LINK rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>评论列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 评论管理 <span class="c-gray en">&gt;</span>评论列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div id="div1">
<div id="div2">
	<div class="text-c">
		<input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称" id="" name="">
		<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </span> <span class="r">共有数据：<strong><span id="num" >{$count}</span></strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="9">员工列表</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">ID</th>
                <th width="40">用户id</th>
				<th width="150">订单id</th>
				<th width="90">评价等级</th>
				<th width="250">评价内容</th>
				<th width="130">评价时间</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
            <foreach name="list" item="val">

			<tr class="text-c">
				<td><input type="checkbox" value="1" name=""></td>
				<td>{$val.id}</td>
                <td>{$val.uid}</td>
				<td>{$val.odid}</td>
				<td>{$val.grade}</td>
				<td>{$val.contents}</td>
				<td>{$val.addtime}</td>
				<td class="td-manage"><a title="删除" href="javascript:;" class="unable-a" unable-id="{$val.id}" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>

			</tr>
                </foreach>
		</tbody>
	</table>
    <div id="page" style="text-align: center;">
        {$page}
    </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>  
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/1.9.3/layer.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script> 
<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
$(function(){
    // 修改分页的样式

    function page(){ 
        $("#page").find('a').css({'margin': "0 9px",
            "display": "inline-block",
            "background": "blue",
            "text-align": "center",
            "width":"25px",
            "height":"25px",
            "color":"white"}
        );
    
        $("#page").find('span').css({'margin': "0 9px",
            "display": "inline-block",
            "background": "red",
            "text-align": "center",
            "width":"25px",
            "height":"25px",
            "color":"white"}
        );
    }
    page();
    
    $('#div1').on("click",'.unable-a',function(){        
        id = $(this).attr('unable-id');
        

        $.get("__URL__/linkDelete",{id:id},
            function(data){ 
                if(data == 1){ 
                    alert('删除成功!');
                    $('#div1').load("__SELF__ #div2",function(){ 
                        page();
                    });
                }else{ 
                    alert('删除失败！');
                 }
                },'json'
            );

        });
    });

    

    
</script>
</body>
</html>