<!DOCTYPE html>
<html>
	<head>
		<block name="title">
            <title>QAQ数码商城首页</title>
        </block>
        <meta charset="utf-8" />
		
		<style src='__PUBLIC__/Home/css/bootstrap.min.css'></style>
        <!-- 预留接口，等子模板使用 -->
        <block name="head">
			<!-- 样式 JS -->
        </block>
	</head>
	
	<body>
		<!-- ======页面头部======= -->
		<div>
			<ul class="nav nav-tabs">
				<li role="presentation" class="active"><a href="#">Home</a></li>
				<li role="presentation"><a href="#">Profile</a></li>
				<li role="presentation"><a href="#">Messages</a></li>
			</ul>
		</div>
		
		<!-- ======主体部分接口======= -->
        <block name="main">
            <div>main</div>
        </block>
		
		<!-- ========页面尾部========== -->
        <div>wei</div>
	</body>
	
	<block name="footer">
		<!-- JS -->
	</block>
</html>	