<!DOCTYPE html>
<html>
	<head>
		<block name="title">
            <title>QAQ数码商城首页</title>
        </block>
        <meta charset="utf-8" />

		
		<link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/base.css">
		<script src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script>
        <script src="__PUBLIC__/home/js/bootstrap.js"></script>
		
        <!-- 预留接口，等子模板使用 -->
        <block name="head">
			<!-- 样式 JS -->
        </block>
	</head>
	
	<body>
		<!-- ======页面头部======= -->
		<div class="rightNav">
			
		</div>
		<div>
			<div class="topbar">
				<div class="topbar_content">
					<div>
						<span><a href="">商城首页</a></span>
						<if condition="empty($_SESSION['user'])">
						
							<span>Hi~欢迎来到QAQ数码商城，请<a href="__URL__/login">登录</a></span>
							<span><a href="__URL__/reg">免费注册</a></span>
						<else />
							<span>Hi~<a href="__MODULE__/User/index">{$name}</a>欢迎来到QAQ数码商城!</span>
							<span><a class="logout" href="javascript:void(0);">退出</a></span>
						</if>
					</div>
					
					<ul>
						
						<li><a href="__MODULE__/User/index">个人中心</a></li>
						<li><a href="__MODULE__/cart/index">购物车</a></li>
						<li>联系客服</li>
					</ul>
				</div>
			</div>
			
			<div class="container">
				<div class="top_search">
					<div class="logo">
						<img src="__PUBLIC__/img/logo.jpg" alt="QAQ商城logo" style="width:180px;height:50px;"/>
						<span>QAQ在线网上数码商城</span>
					</div>
					<div>
						<form action="" method="post">
							<div class="search">
								<input type="text" name="keyword" />
								<input type="submit" value="搜索" hidefocus="true" />
							</div>					
						</form>
						<ul>
							<li><a href="">##########</a></li>
							<li><a href="">####</a></li>
							<li><a href="">####</a></li>
							<li><a href="">###</a></li>
							<li><a href="">###</a></li>
							<li><a href="">###</a></li>
						</ul>
					</div>
					<div>
						<img src="__PUBLIC__/img/ChMkJlYcpziIdMcxAAB2sdYBFdcAADnzQKpVyIAAHbJ372.jpg" style="width:180px;height:60px;margin-left:55px;"/>
					</div>
				</div>
				
				<ul class="nav nav-tabs">
					<li role="presentation" style="height:41px;" class="active"><span>商品分类</span></li>
					<li role="presentation"><a href="#">首页</a></li>
					<li role="presentation"><a href="#">Messages</a></li>
				</ul>
				<div>
					<div id="catenav">
						<ul class="catenav" style="margin-bottom:0px;padding-left:0px;">
							<li class="navnav">手机</li>
							<li>电脑</li>
							<li>摄影</li>
						</ul>
						
						<img src="__PUBLIC__/img/ChMkJ1Z7xxmIJIRaAAAVx_5H8MsAAGjZwDgKK0AABXf118.gif" />
					</div>
					
					<block name="gaoshi">
					
					</block>
				</div>
				<div class="navnone">
						
				</div>
					
		
				<!-- ======主体部分接口======= -->
				<block name="main">
					<div></div>
				</block>
			</div>
		</div>
		<!-- ========页面尾部========== -->
        <hr style="color:#3d3d3d;" />
		
		<div class="weibu">
			<ul>
				<li><i></i>行货保证</li>
				<li><i></i>发票保障</li>
				<li><i></i>48小时发货</li>
				<li><i></i>顺丰包邮</li>
				<li><i></i>无忧退换</li>
				<li><i></i>先行赔付</li>
			</ul>
		</div>
		
		<hr style="color:#3d3d3d;width:1200px;" />
		<div class="footer">
			<ul>
				<li><b>购物指南</b></li>
				<li>账号注册</li>
				<li>购物流程</li>
				<li>付款方式</li>
			</ul>
			<ul>
				<li><b>售后服务</b></li>
				<li>先行赔付</li>
				<li>退款退货流程</li>
				<li>投诉举报</li>
			</ul>
			<ul>
				<li><b>商城保障</b></li>
				<li>行货保障</li>
				<li>如实描述</li>
				<li>物流配送</li>
				<li>48小时发货</li>
				<li>发票保障</li>
			</ul>
			<ul>
				<li><b>商家服务</b></li>
				<li>商家中心</li>
				<li>商城规则</li>
				<li>商家帮助</li>
			</ul>
			
			
		</div>
		<div class="weiba">
			<ul>
                <li>友情链接：</li>
                <foreach name="link" item="val">
    				
    				
    				<li><a href="{$val.url}" target="_blank">{$val.contents}</a></li>
				</foreach>
			</ul>
		</div>
	</body>
	
</html>	

<script>
	$(
		$('li.navnav').hover(function(){
			//console.log('1');
			$(this).css({'background':'white','color':'black',})
			$('.navnone').css({'display':'block','width':'750px','height':'410px','background':'red',"position":'relative',"left":"200px"});
		},function(){
			$(this).css({'background':'#2D2D2D','color':'white',})
			$('.navnone').css('display','none');
			
		}).next().hover(function(){
			//console.log('1');
			$(this).css({'background':'white','color':'black',})
			$('.navnone').css({'display':'block','width':'750px','height':'410px','background':'yellow',"position":'relative',"left":"200px"});
		},function(){
			$(this).css({'background':'#2D2D2D','color':'white',})
			$('.navnone').css('display','none');
			
		}).next().hover(function(){
			//console.log('1');
			$(this).css({'background':'white','color':'black',})
			$('.navnone').css({'display':'block','width':'750px','height':'410px','background':'green',"position":'relative',"left":"200px"});
		},function(){
			$(this).css({'background':'#2D2D2D','color':'white',})
			$('.navnone').css('display','none');
		})
	);
		$('.active').hover(function(){
			//console.log('1');
			
			$('#catenav').css('display','block')
			
		},function(){
				$('')
				$('#catenav').css('display','none')
			
			
		});
		
		
		//用户退出重新加载当前页面
		$('a.logout').click(function(){
			$.ajax({
				url:'__URL__/logout',
				success:function(data){
					window.location.reload();
				}
			})
		})
		
		
	
</script>

<block name="footer">
	<!-- JS -->
	
</block>
