<div class="weibu">
	<ul>
		<li><i></i>行货保证</li>
		<li><i></i>发票保障</li>
		<li><i></i>48小时发货</li>
		<li><i></i>顺丰包邮</li>
		<li><i></i>无忧退换</li>
		<li><i></i>先行赔付</li>
	</ul>
</div>

<hr style="color:#3d3d3d;width:1200px;" />
<div class="footer">
	<ul>
		<li><b>购物指南</b></li>
		<li>账号注册</li>
		<li>购物流程</li>
		<li>付款方式</li>
	</ul>
	<ul>
		<li><b>售后服务</b></li>
		<li>先行赔付</li>
		<li>退款退货流程</li>
		<li>投诉举报</li>
	</ul>
	<ul>
		<li><b>商城保障</b></li>
		<li>行货保障</li>
		<li>如实描述</li>
		<li>物流配送</li>
		<li>48小时发货</li>
		<li>发票保障</li>
	</ul>
	<ul>
		<li><b>商家服务</b></li>
		<li>商家中心</li>
		<li>商城规则</li>
		<li>商家帮助</li>
	</ul>
	
	
</div>