		<!-- ======页面头部======= -->
			<div class="topbar">
				<div class="topbar_content">
					<div>
						<span><a href="__MODULE__/index/index">商城首页</a></span>
						<if condition="empty($_SESSION['user'])">
							<span>Hi~欢迎来到QAQ数码商城，请<a href="__MODULE__/login/index">登录</a></span>
							<span><a href="__MODULE__/reg/index">免费注册</a></span>
						<else />
							<span>Hi~ <a href="">{$_SESSION['user']['name']}</a>,欢迎来到QAQ数码商城!</span>
							<span><a class="logout" href="javascript:void(0);">退出</a></span>
							
						</if>
					</div>
					<script>
						$('a.logout').click(function(){
							$.ajax({
								url:'__URL__/logout',
								success:function(data){
									window.location.href="__MODULE__/index/index";
								}
							})
						})
					</script>
					
					<ul>
                    <li>
                        <!--判断是否登录，登录后跳转个人中心，否则跳转登录页-->                  
						<li><a href="{:U('user/index')}">个人中心</a></li>
						<li><a href="{:U('cart/index')}">购物车</a></li>
						<li>联系客服</li>
					</ul>
				</div>
			</div>