<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>购物车-{$tpshop_config['shop_info_store_title']}</title>
<meta http-equiv="keywords" content="{$tpshop_config['shop_info_store_keyword']}" />
<meta name="description" content="{$tpshop_config['shop_info_store_desc']}" />
<script src="__PUBLIC__/home/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/home/js/global.js"></script>
<script src="__PUBLIC__/home/js/pc_common.js"></script>
<script src="__PUBLIC__/home/js/layer.js"></script><!--弹窗js 参考文档 http://layer.layui.com/-->
</head>

<body>
    <include file="Public/siteTopbar" />
    <div class="order-header">
    	<div class="layout after">
        	<div class="fl">
            	<div class="logo pa-to-36 wi345">
                	<a href="/"><img src="{$tpshop_config['shop_info_store_logo']}" alt=""></a>
                </div>
            </div>
        	<div class="fr">
            	<div class="pa-to-36 progress-area">
                	<div class="progress-area-wd">我的购物车</div>
                	<div class="progress-area-tx" style="display:none">填写核对订单信息</div>
                	<div class="progress-area-cg" style="display:none">成功提交订单</div>
                </div>
            </div>
        </div>
    </div>
    <div class="layout after-ta">
    	<div class="sc-list">        
        <form name="cart_form" id="cart_form" action="{:U('Home/Cart/ajaxCartList')}">
	         <div id="ajax_return"><!--  ajax renturn --></div>
         </form>         
            <div class="sc-acti-list ma-to-20 ma-bo-135">
            	<a class="gwc-jxgw" href="/">继续购物</a>
                <a class="gwc-qjs" href="{:U('Home/Cart/cart2')}" >去结算</a>
            </div>
        </div>
    </div>
<!--------footer-开始-------------->
<include file="Public/footer" />
<!--------footer-结束-------------->
<script>

$(document).ready(function(){
			
	ajax_cart_list(); // ajax 请求获取购物车列表
});



// ajax 提交购物车
var before_request = 1; // 上一次请求是否已经有返回来, 有才可以进行下一次请求
function ajax_cart_list(){
	
	
	if(before_request == 0) // 上一次请求没回来 不进行下一次请求
	    return false;
	before_request = 0;
		
	$.ajax({
		type : "POST",
		url:"{:U('Home/Cart/ajaxCartList')}",//+tab,
		data : $('#cart_form').serialize(),// 你的formid
		success: function(data){
			$("#ajax_return").html('');
			$("#ajax_return").append(data);
			before_request = 1;
		}
	});
}

/**
* 购买商品数量加加减减
* 购买数量 , 购物车id , 库存数量
*/
function switch_num(num,cart_id,store_count)
{
	var num2 = parseInt($("input[name='goods_num["+cart_id+"]']").val());
	num2 += num;
	if(num2 < 1) num2 = 1; // 保证购买数量不能少于 1
	if(num2 > store_count) 
	{   
	    error = "库存只有 "+store_count+" 件, 你只能买 "+store_count+" 件";
	    layer.alert(error, {icon: 2});	
		num2 = store_count; // 保证购买数量不能多余库存数量		
	}

	$("input[name='goods_num["+cart_id+"]']").val(num2);

	ajax_cart_list(); // ajax 更新商品价格 和数量
}


/**  全选 反选 **/				
function check_all()
{	   
	var vt = $("#select_all").is(':checked');
	$("input[name^='cart_select']").prop('checked',vt);
	// var checked = !$('#select_all').attr('checked');
	// $("input[name^='cart_select']").attr("checked",!checked); 		 	
	 ajax_cart_list(); // ajax 更新商品价格 和数量		
}
 
 
// ajax 删除购物车的商品
function ajax_del_cart(ids)
{
	$.ajax({
		type : "POST",
		url:"{:U('Home/Cart/ajaxDelCart')}",//+tab,
		data:{ids:ids}, // 
	    dataType:'json',		
		success: function(data){
		  // alert(data.msg);
		   if(data.status == 1)				
				ajax_cart_list(); // ajax 请求获取购物车列表		   			   
		}
	});
}

// 批量删除购物车的商品
function del_cart_more()
{
	if(!confirm('确定要删除吗?')) 
	  return false;
	// 循环获取复选框选中的值  
	var chk_value = [];
	$('input[name^="cart_select"]:checked').each(function(){
		var s_name = $(this).attr('name');
		var id = s_name.replace('cart_select[','').replace(']','');		
		chk_value.push(id);
	}); 
	// ajax  调用删除
	if(chk_value.length > 0)
		ajax_del_cart(chk_value.join(','));
}
</script>
</body>
</html>
