<extend name="Base/index" />
	
	<block name="head">
		<style>
			.gonggao{
				width:240px;
				height:410px;
				float:right;
			}
			.gonggao div{
				width:240px;
				height:200px;
				border-left:1px solid #EDEDED;
				border-top:1px solid #EDEDED;
				border-bottom:1px solid #EDEDED;
			}
			.gonggao div ul li{
				list-style:none;
			}
			.turnimg{
				width:750px;
				height:410px;
				float:right;
				border:1px solid red;
				margin-right:10px;
			}
			#catenav{
				display:block;
			}
			.hot{
				width:1200px;
				height:180px;
				border:1px solid red;
			}
			h2{
				display:inline-block;
				
			}
			.floor ul{
				list-style:none;
				float:right;
				margin-top:40px;
			}
			.floor ul li{
				float:left;
				margin-left:15px;
				padding-left:15px;
				border-left:1px solid gray;
			}
			.floor ul li:first-of-type{
				border-left:none;
			}
			
		</style>
	</block>
	
	<block name="gaoshi">
	
		<div class="gonggao">
			<img src="__PUBLIC__/img/baozhang20160320.jpg" />
			<div>
				<p align="center" style="margin-top:20px;">商城公告</p>
				<ul>
					<foreach name="list" item="vo">
						<li>
							<a href="{$vo.url}"><span>{$vo.contents}</span></a>
						</li>
					</foreach>
					
				</ul>
			</div>
		</div>
		
		<!--==============轮播图=================-->
		<div class="turnimg">
			
			
		</div>
		
		
	</block>
	
	<block name="main">
		<div>
			<h2>热卖商品</h2>
			<a>更多&gt;&gt;</a>
			<div class="hot">
				<foreach>
					
				</foreach>
			</div>
		</div>
		<div>
			<h2>限时抢购</h2>
			<a>更多&gt;&gt;</a>
			<div class="hot"></div>
		</div>
		<div>
			<h2>精品推荐</h2>
			<a>更多&gt;&gt;</a>
			<div class="hot"></div>
		</div>
		<div class="floor">
			<h2>1F 手机通讯</h2>
			<ul>
				<li><a>####</a></li>
				<li><a>#####</a></li>
				<li><a>####</a></li>
				<li><a>####</a></li>
			</ul>
			<div class="hot"></div>
		</div>
		<div class="floor">
			<h2>2F 电脑数码</h2>
			<ul>
				<li><a>####</a></li>
				<li><a>#####</a></li>
				<li><a>####</a></li>
				<li><a>####</a></li>
			</ul>
			<div class="hot"></div>
		</div>
		<div class="floor">
			<h2>3F 摄影生活</h2>
			<ul>
				<li><a>####</a></li>
				<li><a>#####</a></li>
				<li><a>####</a></li>
				<li><a>####</a></li>
			</ul>
			<div class="hot"></div>
		</div>
	</block>
	
	<block name="footer">
		<script>
			$(
				$('.active').unbind()
			);
		</script>
	</block>