<extend name="Base/index" />
	
	<block name="head">
		<style>
			.gonggao{
				width:240px;
				height:410px;
				float:right;
			}
			.gonggao div{
				width:240px;
				height:200px;
				border-left:1px solid #EDEDED;
				border-top:1px solid #EDEDED;
				border-bottom:1px solid #EDEDED;
			}
			.gonggao div ul li{
				list-style:none;
			}
			.turnimg{
				width:750px;
				height:410px;
				float:right;
				margin-right:10px;
				display: block;
			}
			#catenav{
				display:block;
			}
			.hot{
				width:1200px;
				height:180px;
				border:1px solid red;
			}
			h2{
				display:inline-block;
				
			}
			.floor ul{
				list-style:none;
				float:right;
				margin-top:40px;
			}
			.floor ul li{
				float:left;
				margin-left:15px;
				padding-left:15px;
				border-left:1px solid gray;
			}
			.floor ul li:first-of-type{
				border-left:none;
			}
			.ulul{
				margin-bottom:0;
			}
			
		</style>
	</block>
	
	<block name="gaoshi">
	
		<div class="gonggao">
			<img src="__PUBLIC__/img/baozhang20160320.jpg" />
			<div>
				<p align="center" style="margin-top:20px;">商城公告</p>
				<ul>
					<foreach name="list" item="vo">
						<li>
							<a href="{$vo.url}" target="_blank"><span>[{$vo.contents}]</span></a>
						</li>
					</foreach>
					
				</ul>
			</div>
		</div>
		
		<!--==============轮播图=================-->
		<div class="turnimg">

            <div id="myCarousel" class="carousel slide" data-ride="carousel" align="center" style="margin-top:10px;position: relative;z-index: 4;" >
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>                   
                </ol>   
               <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner" >
                    <div class="item active">
                        <img src="__PUBLIC__/imgturnUploads/{$addtime[0]}/{$imgurl[0]}" alt="First slide">
                    </div>
                    <div class="item">
                        <img src="__PUBLIC__/imgturnUploads/{$addtime[1]}/{$imgurl[1]}" alt="Second slide">
                    </div>
                    <div class="item">
                        <img src="__PUBLIC__/imgturnUploads/{$addtime[2]}/{$imgurl[2]}" alt="Third slide">
                    </div>
                    <div class="item">
                        <img src="__PUBLIC__/imgturnUploads/{$addtime[3]}/{$imgurl[3]}" alt="Fourth slide">
                    </div>
                    <div class="item">
                        <img src="__PUBLIC__/imgturnUploads/{$addtime[4]}/{$imgurl[4]}" alt="Fifth slide">
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left" href="#myCarousel" role="button" data-slide="prev">
                    
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control right " href="#myCarousel" role="button" data-slide="next">
                    
                    <span class="sr-only">Next</span>
                </a>               
            </div> 
			
		</div>
		
	
	</block>
	
	<block name="main">
		<div>
			<h2>热卖商品</h2>
			<a>更多&gt;&gt;</a>
			<div class="hot" style="border:0;">
				<foreach name="hot" item="vo">
					<div class="hotgoods" style="width:300px;height:180px;float:left;border:1px solid #EDEDED;">
						<img style="display:block;float:left;" src="__PUBLIC__/img/hot.jpg" />
						<a href="__MODULE__/Gdetail/index?goodsId={$vo.id}">
							
							<img style="display:block;width:150px;height:120px;position:relative;left:20px;top:15px;" src="__PUBLIC__/uploads/{$vo.addtime}/{$vo.picname}" />
							<span style="display:block;margin-top:15px;text-align:center;" >{$vo.goodname}</span>
						</a>
					</div>
				</foreach>
									
			</div>
		</div>
		<div>
			<h2>人气商品</h2>
			<a>更多&gt;&gt;</a>
			<div class="hot"  style="border:0;">
				<foreach name="loved" item="vo">
					<div class="hotgoods" style="width:300px;height:180px;float:left;border:1px solid #EDEDED;">
					<img style="display:block;float:left;" src="__PUBLIC__/img/hot.jpg" />
					<a href="__MODULE__/Gdetail/index?goodsId={$vo.id}">
						<img style="display:block;width:150px;height:120px;position:relative;left:20px;top:15px;" src="__PUBLIC__/uploads/{$vo.addtime}/{$vo.picname}" />
						<span style="display:block;margin-top:15px;text-align:center;" >{$vo.goodname}</span>
					</a>
					</div>
				</foreach>
			</div>
		</div>
	
		<div class="floor" style="border:0;">
			<h2>1F 手机通讯</h2>
			<ul class="ulul">
				<li><a>魅族</a></li>
				<li><a>小米</a></li>
				<li><a>华为</a></li>
				<li><a>iphone</a></li>
			</ul>
			<div class="floor" style="border:0;">
				<div style="width:400px;height:400px;float:left;">
					<img style="width:400px;height:400px;" src="__PUBLIC__/img/ChMkJ1efFlyIHyYjAADqpLRLtTYAAUDoQPMCbwAAOq8809.jpg">
				</div>
				<div class="floorshow" style="width:800px;height:200px;float:left;">
					<foreach name="phone" item="vo">
						<div style="width:200px;height:200px;float:left;border:1px solid #ededed;text-align:center;padding-top:20px;">
							<a href="__MODULE__/Gdetail/index?goodsId={$vo.id}">{$vo.goodname}</a>
							<img style="display:block;width:120px;height:120px;position:relative;left:35px;top:30px;" src="__PUBLIC__/uploads/{$vo.addtime}/{$vo.picname}">
						</div>
					</foreach>
				</div>
			</div>
		</div>
		<img style="margin-bottom:20px;" src="__PUBLIC__/img/hr.jpg">
		<div class="floor">
			<h2>2F 电脑数码</h2>
			<ul>
				<li><a>####</a></li>
				<li><a>#####</a></li>
				<li><a>####</a></li>
				<li><a>####</a></li>
			</ul>
			<div class="floor" style="border:0;">
				<div style="width:400px;height:400px;border:1px solid red;float:left;"></div>
				<div class="floorshow" style="float:left;">
					<foreach name="phone" item="vo">
						<div style="width:200px;height:200px;float:left;border:1px solid #ededed;text-align:center;padding-top:20px;">
							<a href="__MODULE__/Gdetail/index?goodsId={$vo.id}">{$vo.goodname}</a>
							<img style="display:block;width:120px;height:120px;position:relative;left:35px;top:30px;" src="__PUBLIC__/uploads/{$vo.addtime}/{$vo.picname}">
						</div>
					</foreach>
				</div>
			</div>
		</div>
		<img style="margin-bottom:20px;" src="__PUBLIC__/img/hr.jpg">
		<div class="floor">
			<h2>3F 服装</h2>
			<ul>
				<li><a>####</a></li>
				<li><a>#####</a></li>
				<li><a>####</a></li>
				<li><a>####</a></li>
			</ul>
			<div class="floor" style="border:0;">
				<div style="width:400px;height:400px;border:1px solid red;float:left;"></div>
				<div class="floorshow" style="float:left;">
					<foreach name="phone" item="vo">
						<div style="width:200px;height:200px;float:left;border:1px solid #ededed;text-align:center;padding-top:20px;">
							<a href="__MODULE__/Gdetail/index?goodsId={$vo.id}">{$vo.goodname}</a>
							<img style="display:block;width:120px;height:120px;position:relative;left:35px;top:30px;" src="__PUBLIC__/uploads/{$vo.addtime}/{$vo.picname}">
						</div>
					</foreach>
				</div>
			</div>
		</div>
		<img style="margin-bottom:20px;" src="__PUBLIC__/img/hr.jpg">
		<div class="floor">
			<h2>4F 摄影生活</h2>
			<ul>
				<li><a>####</a></li>
				<li><a>#####</a></li>
				<li><a>####</a></li>
				<li><a>####</a></li>
			</ul>
			<div class="floor" style="border:0;">
				<div style="width:400px;height:400px;border:1px solid red;float:left;"></div>
				<div class="floorshow" style="float:left;">
					<foreach name="phone" item="vo">
						<div style="width:200px;height:200px;float:left;border:1px solid #ededed;text-align:center;padding-top:20px;">
							<a href="__MODULE__/Gdetail/index?goodsId={$vo.id}">{$vo.goodname}</a>
							<img style="display:block;width:120px;height:120px;position:relative;left:35px;top:30px;" src="__PUBLIC__/uploads/{$vo.addtime}/{$vo.picname}">
						</div>
					</foreach>
				</div>
			</div>
		</div>
	</block>
	
	<block name="footer">
		<script>
			$(function(){
				$('.active').unbind();
				
				$('.hotgoods').hover(function(){
					$(this).css('border-bottom','2px solid red')
				},function(){
					$(this).css('border-bottom','1px solid #ededed')
				});
				
				$('.floorshow').hover(function(){
					a = $(this).find('img').css('top');
					b = parseInt(a) - 5; 
					$(this).find('img').css('top',b+'px');
				},function(){
					a = $(this).find('img').css('top');
					b = parseInt(a) + 5; 
					$(this).find('img').css('top',b+'px');
				})
			 }
			);
			

		</script>
	</block>