<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>注册-tpshop｜thinkphp shop ｜TPshop 免费开源系统｜ thinkphp 商城 国内最强大的thinkphp shop b2cb2b开源商城</title>
    <meta http-equiv="keywords" content="tpshop｜thinkphp shop ｜TPshop 免费开源系统｜ thinkphp 商城 国内最强大的thinkphp shop b2cb2b开源商城" />
    <meta name="description" content="tpshop｜thinkphp shop ｜TPshop 免费开源系统｜ thinkphp 商城 国内最强大的thinkphp shop b2cb2b开源商城" />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/index.css" type="text/css">
    <script src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script>
    <script src="__PUBLIC__/Home/js/slider.js"></script>
    <script src="__PUBLIC__/Home/js/layer.js"></script><!--弹窗js 参考文档 http://layer.layui.com/-->    
    <script src="__PUBLIC__/Home/js/global.js"></script>
<meta name="__hash__" content="182fe5660a06a612169f76bdd910f530_ce4c378995d395fbd2ed37276d6efc63" /></head>

<body class="reg">
<div class="customer-header">
    
</div>
<div class="setout">
   
    
    <!--手机注册-->
    <div class="shuru-area" id="tel_tab_div">
        <div class="tit-zc">
            <h3><span>QAQ账号注册</span></h3>
        </div>
        <div class="shrk-bd-zc">
            <form action="{:U('Reg/reg')}" method="post" onSubmit=" return check_submit(this)" id="reg_form2">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th>用户名：</th>
                        <td><input class="zc-text" type="text" name="username" id="username2" placeholder="请输入用户名号码" maxlength="5" required/></td>
                    </tr>
                    <tr>
                        <th>手机号：</th>
                        <td><input class="zc-text" type="text" name="tel" id="J_register_phone_number" placeholder="请输入手机号码" maxlength="11" required/></td>
                    </tr>
                    <tr>
                        <th>密码：</th>
                        <td>
                            <input class="zc-text" type="password" name="password" id="password" placeholder="8-32个字符" required/>
                            <i class="wrong-tips" style="display: none;" id="J_register_pasword_phone_tips">密码不可以包含特殊字符</i>
                        </td>
                    </tr>
                    <tr>
                        <th>确认密码：</th>
                        <td><input class="zc-text" type="password" name="password2" id="password2" placeholder="请重复输入您的密码" required/></td>
                    </tr>
                    <tr>
                        <th>验证码：</th>
                        <td  class="po-re">
                            <input class="zc-text wi96" name="verify" id="verify_code2" type="text" placeholder="不区分大小写" required/>
                            <img class="po-ab to0" style="margin:0px 0px -12px 0px" id="reflsh_code2"  src="{:U('Reg/verify')}"onclick="this.src='{:U('Reg/verify')}?'+Math.random()"  />
                        </td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td id="pa1"><input class="checkboxs" id="agree1" name="agree" type="checkbox" value="1" required/><label for="agree">同意</label><a class="iages" href="">《帐号服务条款、隐私政策》</a></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td><input type="submit" value="立即注册" class="zc-ljzc"/></td>
                    </tr>
                </table>
				<input type="hidden" name="__hash__" value="182fe5660a06a612169f76bdd910f530_ce4c378995d395fbd2ed37276d6efc63" />
			</form>

        </div>
        <div class="tar">
            <span>已有账号</span>
            <a class="zc-dl" href="__MODULE__/login/index">登录</a>
        </div>
        <div class="cz-clude">
            <img src="__PUBLIC__/img/bg14.png" />
        </div>
    </div>

    <!--手机注册-->
</div>
<div class="hr-60"></div>
<div class="cust-footer">
    <div class="setout po-re">
        <div class="warrant-area">
            <p>
                <a href="">《帐号服务条款、隐私政策》</a>
                <em>|</em>
                <a href="">常见问题？</a>
            </p>
        <p>Copyright © 2016-2025 深圳搜豹公司  版权所有 保留一切权利 备案号:粤00-86140485号</p>
        </div>
    </div>
</div>

<script>
/*$(function(){

$('#username').blur(function(){

var account=$('#username').val();

if(account==''){

$('.username').html('请输入用户名');

return false;
}

	// 普通 图形验证码 
    /*function verify(id){
        $('#'+id).attr('src','/index.php?m=Home&c=User&a=verify&type=user_reg&r='+Math.random());
    }
    function check_submit(){
        var username = $(this).find('input[name="username"]').val();
        var password = $(this).find('input[name="password"]').val();
        var password2 = $(this).find('input[name="password2"]').val();
        var verify_code = $(this).find('input[name="verify_code"]').val();
		
        var agree = $(this).find('input[type="checkbox"]:checked').val();
        var error = '';
        if(username == ''){
            error += '用户名不能为空';
        }
        if(password == '' || password2 == ''){
            error += '密码不能为空\n';
        }
        if(password != password2){
            error += '两次输入密码不一致\n';
        }
        if(password.length < 6){
            error += '密码长度不能低于六位\n';
        }
        if(verify_code == ''){
            error += '请输入验证码\n';
        }
        if(!agree > 0){
            error += '您没有同意注册协议\n';
        }
        if(error){
            layer.alert(error, {icon: 2});// alert(error);
            return false;
        }
        return true;
    }
	
	// 发送手机短信
    function send_sms_reg_code(){
        var mobile = $('#tel_tab_div').find('input[name="username"]').val();
        if(!checkMobile(mobile)){
            layer.alert('请输入正确的手机号码', {icon: 2});// alert('请输入正确的手机号码');
            return;
        }
        var url = "/index.php?m=Home&c=User&a=send_sms_reg_code&mobile="+mobile;
        $.get(url,function(data){
            obj = $.parseJSON(data);
            if(obj.status == 1)
			{
				$('#count_down').attr("disabled","disabled");				
				intAs = 60; // 手机短信超时时间
                jsInnerTimeout('count_down',intAs);						
			}
			layer.alert(obj.msg, {icon: 2});// alert(obj.msg);
            
        })
    }

    $('#count_down').removeAttr("disabled");
    //倒计时函数
    function jsInnerTimeout(id,intAs)
    {
        var codeObj=$("#"+id);
        //var intAs = parseInt(codeObj.attr("IntervalTime"));

        intAs--;
        if(intAs<=-1)
        {
            codeObj.removeAttr("disabled");
//            codeObj.attr("IntervalTime",60);
            codeObj.text("发送");
            return true;
        }

        codeObj.text(intAs+'秒');
//        codeObj.attr("IntervalTime",intAs);

        setTimeout("jsInnerTimeout('"+id+"',"+intAs+")",1000);
    };*/

</script>
<!--<script src="__PUBLIC__/Home/js/register.min.js"></script>-->
</body>
</html>