<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="content-language" content="utf-8">
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="Cache-control" content="public" max-age="no-cache">
        <link rel="shortcut icon" href="http://static02.fn-mart.com/img/feiniu_favicon.ico">
        <link rel="apple-touch-icon" sizes="114x114" href="http://static02.fn-mart.com/images/touch-icon-iphone-136.png">
        <link rel="alternate" media="only screen and (max-width:640px)" href="http://m.tp-shop.cn/category/C18973">
        <script src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script>
        <script src="__PUBLIC__/home/js/bootstrap.js"></script>
        <meta name="applicable-device" content="pc">
        <meta name="mobile-agent" content="format=html5;url=http://m.tp-shop.cn/category/C18973">
        <title>QAQ商城-商品分类</title>
        <meta http-equiv="keywords" content="QAQ商城">
        <meta name="description" content="QAQ商城">
        <!--[if lte IE 9]>
        		<script src="http://static02.fn-mart.com/js/html5.js"></script>
        		<script src="http://static02.fn-mart.com/js/IE9.js"></script>
        		<link rel="stylesheet" type="text/css" href="http://static02.fn-mart.com/css/ie.css"/>
        		<![endif]-->
        <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Home/css/base.css">
        
        <link rel="stylesheet" href="__PUBLIC__/Home/category/category.css">
        	<style type="text/css">
        		.num{bottom: 0 !important;}
        	</style>
        <link style="" id="layui_layer_skinlayercss" href="__PUBLIC__/Home/category/layer.css" rel="stylesheet">
        <style class="firebugResetStyles" type="text/css" charset="utf-8">/* See license.txt for terms of usage */


        /** reset styling **/
        .firebugResetStyles {

            z-index: 2147483646 !important;

            top: 0 !important;

            left: 0 !important;

            display: block !important;

            border: 0 none !important;

            margin: 0 !important;

            padding: 0 !important;

            outline: 0 !important;

            min-width: 0 !important;

            max-width: none !important;

            min-height: 0 !important;

            max-height: none !important;

            position: fixed !important;

            transform: rotate(0deg) !important;

            transform-origin: 50% 50% !important;

            border-radius: 0 !important;

            box-shadow: none !important;

            background: transparent none !important;

            pointer-events: none !important;

            white-space: normal !important;

        }

        style.firebugResetStyles {

            display: none !important;

        }

        .firebugBlockBackgroundColor {

            background-color: transparent !important;

        }

        .firebugResetStyles:before, .firebugResetStyles:after {

            content: "" !important;

        }

        /**actual styling to be modified by firebug theme**/

        .firebugCanvas {

            display: none !important;

        }

        /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

        .firebugLayoutBox {

            width: auto !important;

            position: static !important;

        }
        .firebugLayoutBoxOffset {

            opacity: 0.8 !important;

            position: fixed !important;

        }
        .firebugLayoutLine {
            opacity: 0.4 !important;
            background-color: #000000 !important;
        }
        .firebugLayoutLineLeft, .firebugLayoutLineRight {
            width: 1px !important;
            height: 100% !important;
        }
        .firebugLayoutLineTop, .firebugLayoutLineBottom {
            width: 100% !important;
            height: 1px !important;
        }
        .firebugLayoutLineTop {
            margin-top: -1px !important;
            border-top: 1px solid #999999 !important;
        }
        .firebugLayoutLineRight {
            border-right: 1px solid #999999 !important;
        }
        .firebugLayoutLineBottom {
            border-bottom: 1px solid #999999 !important;
        }
        .firebugLayoutLineLeft {
            margin-left: -1px !important;
            border-left: 1px solid #999999 !important;
        }
        /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

        .firebugLayoutBoxParent {
            border-top: 0 none !important;
            border-right: 1px dashed #E00 !important;
            border-bottom: 1px dashed #E00 !important;
            border-left: 0 none !important;
            position: fixed !important;
            width: auto !important;
        }
        .firebugRuler{
            position: absolute !important;
        }
        .firebugRulerH {
            top: -15px !important;
            left: 0 !important;
            width: 100% !important;
            height: 14px !important;
            border-top: 1px solid #BBBBBB !important;
            border-right: 1px dashed #BBBBBB !important;
            border-bottom: 1px solid #000000 !important;
        }
        .firebugRulerV {
            top: 0 !important;
            left: -15px !important;
            width: 14px !important;
            height: 100% !important;
            border-left: 1px solid #BBBBBB !important;
            border-right: 1px solid #000000 !important;
            border-bottom: 1px dashed #BBBBBB !important;
        }
        .overflowRulerX > .firebugRulerV {
            left: 0 !important;
        }
        .overflowRulerY > .firebugRulerH {
            top: 0 !important;
        }
        /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
        .fbProxyElement {
            position: fixed !important;
            pointer-events: auto !important;
        }
        </style>
    </head>
    <body>
        <script type="text/javascript" src="__PUBLIC__/Home/category/jquery-1.js"></script>
        <script src="__PUBLIC__/Home/category/global.js"></script>
        <script src="__PUBLIC__/Home/category/layer.js"></script> 
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/category/common.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/category/main.css">
        <style>.fn-clear .words{ line-height:1.5}.m-top-nav a{color:#000;}</style>
        <div class="rightNav">           
        </div>
                
        <div class="topbar">
            <div class="topbar_content">
                <div style="font-size:14px;">
                    <span><a href="__MODULE__/index/index"><b style="color: #337ab7;">商城首页</b></a></span>
                    <if condition="$name">
                        <span>Hi~ <a href="__MODULE__/User/index"><b style="color: #337ab7;">{$name}</b></a>,欢迎来到QAQ网上商城!</span>
                        <span><a class="logout" href="javascript:void(0);"><b style="color: #337ab7;">退出</b></a></span>
                    <else />
                        <span>Hi~欢迎来到QAQ网上商城，请<a href="__MODULE__/login/index"><b style="color: #337ab7;">登录</b></a></span>
                        <span><a href="__MODULE__/reg/index"><b style="color: #337ab7;">免费注册</b></a></span>
                    </if>
                </div>
                <ul>
                <li>
                    <!--判断是否登录，登录后跳转个人中心，否则跳转登录页-->                  
                    <li><a href="{:U('user/index')}">个人中心</a></li>
                    <li><a href="{:U('cart/index')}">购物车</a></li>
                    <li>联系客服</li>
                </ul>
            </div>
        </div>
        
        <div class="container">
            <div class="top_search" style="margin-left:-15px;">
                <div class="logo">
                    <img src="__PUBLIC__/img/logo.jpg" alt="QAQ商城logo" style="width:180px;height:65px;"/>
                    <span style="font-size:15px;">QAQ网上商城</span>
                </div>
                <div>
                    <form action="__URL__/cateSearch" method="post">
                        <div class="search">
                            <input type="text" name="search" style="height:30px;width:440px;top:-4px;font-size: 18px;"/>
                            <input type="submit" value="搜索" hidefocus="true" style="height:34px;width:90px;top:-1px;" />
                        </div>                  
                    </form>
                </div>
                <div>
                    <img src="__PUBLIC__/img/ChMkJlYcpziIdMcxAAB2sdYBFdcAADnzQKpVyIAAHbJ372.jpg" style="width:180px;height:60px;margin-left:55px;"/>
                </div>
            </div>

            <div class="m-top-nav editable" moduleid="1539926" style="position:relative;min-height:35px;margin-left:-15px;">
                <div class="main-container new-year">
                    <div class="main-title-wrap">
                    	<a href="javascript:" target="" style="width:210px" class="main-title">
                      		<span class="ico"><i class="il il-lt"></i><i class="il il-lc"></i><i class="il il-lb"></i>
                      		<i class="il il-rt"></i><i class="il il-rc"></i><i class="il il-rb"></i></span>
                      		商城商品分类
                      	</a>
                        <div class="main-slider" style="display:none;position: absolute;top: 40px;">
                              <div fnp="nav-list" class="nav-list eidtModule" moduleid="nav">
                                <ul class="nav-list-warpper">
                                    <foreach name="firstcate" item="val" key="k1">
                                    <li data-role="nav-item" class="nav-item" index="{$k1}">
                    	                <span class="nav-menu-item">
                                            <i class="iconfont icon"></i>
                        	                <span class="title">
                                                <a href="__URL__/index?id={$val.id}" target="_blank">{$val.name}</a>
                                            </span>
                    	                </span>
                                    </li> 
                                    </foreach>
                                </ul>
                                <foreach name="secondcate" item="vo" key="k2">
                                    <div data-role="menu-sub" class="menu-sub" index="{$k2}" style="height:440px">
                        		        <div class="sub-columns">
                                            <foreach name="vo" item="voo">
                            		        	<div class="fn-clear column-item">
                                                    <div class="tlt">
                            		                    <span class="name">
                                                            <a href="__URL__/index?id={$voo.id}" target="_blank">{$voo.name}</a>
                                                        </span>
                                                    </div>
                                                    <div class="words">
                                                        <foreach name="voo.son" item="vooo">
                            		                  	   <a href="__URL__/index?id={$vooo.id}" target="_blank">{$vooo.name}</a>
                                                        </foreach> 
                                                    </div>
                                                </div>
                                            </foreach>   
                                        </div>    
                                    </div>
                                </foreach>   
                            </div>
                        </div>
                    </div>

                    <ul class="main-nav">
                        <li class="nav-item">
                            <a class="menu-item menu-item-active" target="_blank" href="__MODULE__/index/index" style="overflow: visible;">首页 </a>
                        </li>
                        <li class="nav-item">
                            <a class="menu-item " href="http://localhost/index.php?m=Home&amp;c=Goods&amp;a=goodsList&amp;id=123" style="overflow: visible;">手机城 </a>
                        </li>
                        <li class="nav-item">
                            <a class="menu-item " href="http://localhost/index.php?m=Home&amp;c=Goods&amp;a=goodsList&amp;id=51" style="overflow: visible;">珠宝 </a>
                        </li>
                        <li class="nav-item">
                            <a class="menu-item " href="http://localhost/index.php?m=Home&amp;c=Goods&amp;a=goodsList&amp;id=20" style="overflow: visible;">家电城 </a>
                        </li>
                        <li class="nav-item">
                            <a class="menu-item " href="http://localhost/index.php?m=Home&amp;c=Index&amp;a=promoteList" style="overflow: visible;">促销商品 </a>
                        </li>
                        <li class="nav-item">
                            <a class="menu-item " href="http://localhost/index.php?m=Home&amp;c=Channel&amp;a=index&amp;id=1" style="overflow: visible;">网上城 </a>
                        </li>
                        <li class="nav-item">
                            <a class="menu-item " target="_blank" href="http://localhost/index.php?m=Home&amp;c=Activity&amp;a=group_list" style="overflow: visible;">团购 </a>
                        </li>
                        <li class="nav-item">
                            <a class="menu-item " target="_blank" href="http://www.tp-shop.cn/" style="overflow: visible;">TPshop商城<i class="e-hot"></i></a>
                        </li>
                    </ul>  
                </div>
            </div>
            <div>
              <div class="J_side_nav_trigger"></div>
            </div>
        </div>    
        <div id="global-nav" class="clearfix">
            <div class="m-nav-content">
                <div class="m-nav-category"></div>
                <div class="m-nav-search u-g-search"></div>
                <div class="m-nav-cart"></div>
            </div>
        </div>
        <!-- warpper-->
        <div id="warpper" class="clearfix">
            <div id="path-new" class="clearfix colaaa text13">
                <div class="item fl" id="floor" floor="{$precate.num}">
                    <div class="fl">
                        <span class="u-nav-title">
                            <a href="__URL__/index?id={$precate.firstid}" target="_blank">{$precate.firstname}</a> 
                        </span>
                    </div>
                    <div class="fl" id="m-selected-cery">
                        <div class="u-left-icon">   
                            <i class="z-arrow"></i>
                        </div>
          
                        <!--如果当前分类是三级分类 则二级也要显示-->
                        <!--当前分类-->
                        <div class="u-nav-attr" > 
                            <a href="__URL__/index?id={$precate.secondid}" target="_blank" id="secondn" style="margin-left:17px;">{$precate.secondname}</a>
                        </div>
                    </div>
                </div>
                <div id="thirdn">
                    <div class="u-left-icon">
                        <i class="z-arrow"></i>
                    </div>
                    <a title="" style="padding-left: 23px;" href="__URL__/index?id={$precate.thirdid}" target="_blank" class="u-av-label">{$precate.thirdname}</a>
                </div> 
            </div>
            <div class="cata_cart_left">
                <div class="m-cart">
                    <p class="title">   
                        <a href="__URL__/index?id={$firstid}" target="_blank" class="text13 col000">{$firstname}</a> 
                    </p>
                    <!--search/?q=-->
                    <div id="cata_list"> 
                    <!-- 分类树 -->
                        <ul class="menu_3">
                            <!-- 二级分类 -->
                            <foreach name="secondca" item="sval">
                            <li class="menu_two">
                                <span name="submenuicon" class="menuplus thirdc"></span>
                                <a href="__URL__/index?id={$sval.id}" target="_blank" class="menu3_title">{$sval.name}</a>
                                <div class="second_div">
                                    <span class="second_span"></span>
                                    <ul style="display: none;">
                                        <!-- 三级分类 -->
                                        <foreach name="sval.third" item="tval">
                                        <li>    
                                            <a href="__URL__/index?id={$tval.id}" target="_blank">{$tval.name}</a>
                                        </li>   
                                        </foreach>     
                                    </ul>
                                </div>
                            </li>
                            </foreach>
                        </ul>
                    <!-- 分类树 -->
                    </div>
                </div>
                <!-- 推荐热卖-->
                <div class="m-rehotbox mt10" style="display:block;">
                    <h2 class="rehottit">推荐热卖九折</h2>
                    <div class="rehotcon" id="rehotcon">
                        <foreach name="goodsdata" item="hostval">
                            <div class="hotitem">
                                <div class="itemin">
                                    <a class="proname" href="__MODULE__/Gdetail/index?goodsId={$hostval.id}">
                                        <img src="__PUBLIC__\Uploads\{$hostval.addtime}\{$hostval.picname}">
                                        <span>{$hostval.goodname}</span>
                                    </a>
                                    <p class="itemprice">
                                        <span class="new" rehot="90101748934_201480" style="display: block; float: left;"><i class="fn-rmb">¥</i>{$hostval.price}</span>
                                        <span class="old">
                                            <i class="fn-rmb">¥</i>{$hostval.saleprice}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </foreach>
                    </div>
                </div>
            </div>
            <div class="cata_shop_right" id="tracker_category"> 
          
            <!-- 商品列表 -->
            <div class="searchbox">
                <div class="list clearfix">
                    <ul class="left text12" id="order_ul" sele="{$getid}" style="display: block">
                    <!--        <li><a class="col7ac " href1="&sort=recommand&asc=0" style="cursor:pointer;">综合</a></li>-->
                        <li> 
                            <a class="col7ac" href="__URL__/index?getid={$getid}&type=id" style="cursor:pointer;"> 默认 </a>
                        </li>
                        <li> 
                            <a class="col7ac" href="__URL__/index?getid={$getid}&type=buy" style="cursor:pointer;"> 销量 </a>
                        </li>
                        <li>
                            <a class="col7ac" href="__URL__/index?getid={$getid}&type=price" style="cursor:pointer;">价格<span class="icon_s "></span></a>
                        </li>   
                        <li>
                            <a class="col7ac" href="__URL__/index?getid={$getid}&type=addtime" style="cursor:pointer;">新品</a>
                        </li>
                    </ul>
                    
                    <div class="right text12" id="pagenavi">
                        <div class="all-number">
                            <span style="font-size: 18px;">共{$page.count}个商品</span>
                        </div>
                    </div>
                    
                </div>
            <!-- list --> 
            </div>
            <!-- searchbox -->
          
            <ul id="cata_choose_product" class="cart_containt clearfix listContainer">

                <foreach name="waresdata" item="wareval">
                    <li>
                        <div class="nosinglemore"></div>
                        <div class="listbox clearfix"> 
                            <!-- 图片 -->
                            <div class="listPic"> 
                          		<a rel="nofollow" target="_blank" href="__MODULE__/Gdetail/index?goodsId={$wareval.id}" style="width:200px;height:200px;">
                                	<img style="display: block;" src="__PUBLIC__\Uploads\{$wareval.addtime}\{$wareval.goods_url.0.picname}" class="fn_img_lazy" height="200" width="200"> 
                                </a>             
                            </div>
                            <div class="list-scroll J_scrollBox clearfix"> 
                                
                                <div class="list-scroll-warp J_hideBox">
                                    <dl class="J_mBox clearfix" style="margin-left: 20px;">            
                                        <foreach name="wareval.goods_url" item="waresv">
                                            <dd>
                	                           <a href="__MODULE__/Gdetail/index?goodsId={$wareval.id}" target="_blank">
                                        	       <img  src="__PUBLIC__\Uploads\{$wareval.addtime}\{$waresv.picname}" style="display: block;" height="30" width="30">
                                                </a>        
                                            </dd>
                                        </foreach>
                                    </dl>
                                </div>
                                
                            </div>
                      
                            <!-- 价格 -->
                            <div class="discountPrice">
                                <div class="price-cash" style="text-align:center;">
                                    <b style="float: left;margin-left:10px;">
                                    <span class="text13 colf22e01">¥</span>
                                    <span class="text18 colf22e01 fontT" id="itemPrice_201510CM130003397">{$wareval.price}包邮</span>
                                    </b>
                                    <span style="float: right;color: #777;">{$wareval.buy}人付款</span>
                                    <del></del> 
                                </div>
                            </div>
                            <!-- 价格 end--> 
                            <!-- 品名 -->
                            <div class="listDescript" style="text-align:center;"> 
                                <a target="_blank" href="__MODULE__/Gdetail/index?goodsId={$wareval.id}" class="text13">{$wareval.goodname}</a> 
                            </div>
                            <!-- 價格及字樣 -->
                            <div class="itemPrice" style="width: 18 0px;height: 27px;background: rgb(224, 29, 32);">
                                <div class="cart_wrapper" style="text-align: center;"> 
                                    <a style="cursor:pointer;" target="_blank" class="" href="__MODULE__/Gdetail/index?goodsId={$wareval.id}" >购 &nbsp;买</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </foreach>  
            </ul>
            
            <div id="page" style="text-align: center;">
                    {$page.page}
                </div>
            <!-- Page -->
            
            <!-- 商品列表 --> 
        </div>
    </div>

    <!-- ========页面尾部========== -->
    <hr style="color:#3d3d3d;" />
            
    <div class="weibu" style="margin:10px 0px 10px 60px;">
        <ul>
            <li><i></i>行货保证</li>
            <li><i></i>发票保障</li>
            <li><i></i>48小时发货</li>
            <li><i></i>顺丰包邮</li>
            <li><i></i>无忧退换</li>
            <li><i></i>先行赔付</li>
        </ul>
    </div>
    
    <hr style="color:#3d3d3d;width:1200px;" />
    <div class="footer" style="margin:10px 0px 10px 70px;">
        <ul>
            <li><b>购物指南</b></li>
            <li>账号注册</li>
            <li>购物流程</li>
            <li>付款方式</li>
        </ul>
        <ul>
            <li><b>售后服务</b></li>
            <li>先行赔付</li>
            <li>退款退货流程</li>
            <li>投诉举报</li>
        </ul>
        <ul>
            <li><b>商城保障</b></li>
            <li>行货保障</li>
            <li>如实描述</li>
            <li>物流配送</li>
            <li>48小时发货</li>
            <li>发票保障</li>
        </ul>
        <ul>
            <li><b>商家服务</b></li>
            <li>商家中心</li>
            <li>商城规则</li>
            <li>商家帮助</li>
        </ul> 
    </div>
    <div class="weiba">
        <ul>
            <li>友情链接：</li>
            <foreach name="link" item="val">
                
                
                <li><a href="{$val.url}" style="color:#337ab7;font-size:14px" target="_blank">{$val.contents}</a></li>
            </foreach>
        </ul>
    </div>
       
        <script type="text/javascript" src="__PUBLIC__/Home/category/jquery_002.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Home/category/common.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Home/category/jquery.js"></script> 
        <script src="__PUBLIC__/Home/category/pc_common.js"></script>
        <script type="text/javascript">
        // 头部样式
        $(document).ready(function(){
            $('.main-title').hover(function(){
                $('.main-slider').show();
            }, function(){
                $('.main-slider').hide();
            });
            
            $('.nav-list-warpper').hover(function(){
                $('.main-slider').show();
            }, function(){
                $('.main-slider').hide();
            });
                 
            get_cart_num();
            var uname= getCookie('uname');
            if(uname == ''){
                $('.islogin').remove();
                $('.nologin').show();
            }else{
                $('.nologin').remove();
                $('.islogin').show();
                $('.userinfo').html(decodeURI(uname));
            }
        });
        function get_cart_num(){
          var cart_cn = getCookie('cn');
          if(cart_cn == ''){
            $.ajax({
                type : "GET",
                url:"/index.php?m=Home&c=Cart&a=header_cart_list",//+tab,
                success: function(data){                                 
                    cart_cn = getCookie('cn');                      
                }
            }); 
          }
          $('#cart_quantity').html(cart_cn);
          $('#miniCartRightQty').html(cart_cn);
        }

        //############   分类导航折叠        ############
        $('span[name="submenuicon"]').each(function(){
        	 $(this).click(function(){
        		 if($(this).hasClass('menuplus')){
        			 $(this).removeClass('menuplus').addClass('menuminus');
        			 $(this).siblings('.second_div').find('ul').show();
        		 }else{
        			 $(this).removeClass('menuminus').addClass('menuplus');
        			 $(this).siblings('.second_div').find('ul').hide();
        		 }
        	 });
        })
        //############   面包屑       ###########
        $(document).ready(function(){
            $num = $('#floor').attr('floor');
            if($num == 3){ 
            }else if($num == 2){
                $('#thirdn').css('display','none');
            }else{ 
                $('#m-selected-cery').css('display','none');
                $('#thirdn').css('display','none');
            }
        });   

        //用户退出重新加载当前页面
        $('a.logout').click(function(){
            $.ajax({
                url:'__MODULE__/index/logout',
                success:function(data){
                    window.location.reload();
                }
            })
        })

        // 搜索之后无排序
        if(!$('#order_ul').attr('sele')){           
            $('#order_ul').css({'display':'none'})
        }else{ 
            $('#order_ul').css({'display':'block'})
        }
        
        $(function(){
        		// 分页
                function page(){ 
                $("#page").find('a').css({'margin': "0 18px",
                    "display": "inline-block",
                    "background": "white",
                    "text-align": "center",
                    "border": "1px solid #5a98de",
                    "font-size": "18px",
                    "width":"25px",
                    "height":"25px",
                    "color":"black"}
                );
            
                $("#page").find('span').css({'margin': "0 18px",
                    "display": "inline-block",
                    "background": "#5a98de",
                    "border": "1px solid #5a98de",
                    "font-size": "18px",
                    "text-align": "center",
                    "width":"25px",
                    "height":"25px",
                    "color":"black"}
                );
            }
            page();

            

        });
        </script>
    </body>
</html>