<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>收货地址</title>
    <meta http-equiv="keywords" content="QAQ商城,笔记本,手机,数码相机,数码影音,DIY硬件" />
    <meta name="description" content="QAQ商城（QAQ.com）具备在3年内成长为中国最大的3C电子商城之潜力，源于中国IT行业第一垂直媒体（QAQ.com.cn）在IT及互联网行业已臻十年的深厚积累。运营核心，只为了给用户打造一个放心、省心、舒心的购物平台！" />
    <link href="__PUBLIC__/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/admin/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
    <title>添加地址</title>
</head>
<body>
<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-address-edit">
        
        <div class="row cl">
            <!--
            <label class="form-label col-3"><span class="c-red">*</span>ID：</label>
            -->
            <div class="formControls col-5">
                <input type="hidden" class="input-text" disabled="none" value="{$uid}" placeholder="" id="address-uid" name="address-uid">
            </div>
            <div class="col-4"> </div>
        </div>
    
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>收货人：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="{$data['name']}" placeholder="请填写收货人姓名" id="consignee" name="consignee" datatype="/^[\u4E00-\u9FA5\uf900-\ufa2d]{2,10}$/" nullmsg="姓名不能为空">               
            </div>
            <div class="col-4" > </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>收货地址：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="{$data['address']}" placeholder="请填收货地址" id="address" name="address" datatype="/^[\w\u4E00-\u9FA5\uF900-\uFA2D]*$/" nullmsg="收货地址不能为空">
            </div>
            <div class="col-4"> </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>邮编：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="{$data['postcode']}" placeholder="请填邮编" id="postcode" name="postcode" datatype="p" nullmsg="邮编不能为空">
            </div>
        <div class="col-4"> </div>
        </div>

        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>手机：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="{$data['tel']}" placeholder="请填写手机号" id="tel" name="tel" datatype="m" nullmsg="手机号不能为空">
            </div>
        <div class="col-4"> </div>
        </div>
      
    <div class="row cl">
      <div class="col-9 col-offset-3">
        <button type="button" class="btn btn-primary radius" id="up" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">提交</button>
      </div>
    </div>
  </form>
</div>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
$(function(){
   
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });
    
    $("#form-address-edit").Validform({
        tiptype:2,
        callback:function(form){
            form[0].submit();
            var index = parent.layer.getFrameIndex(window.name);
            parent.$('.btn-refresh').click();
            parent.layer.close(index);
        }
    });

    $('#up').click(function(){
        uid = $('#address-uid').val();    
        consignee = $('#consignee').val();
        address = $('#address').val();
        postcode = $('#postcode').val();
        tel = $('#tel').val();
        if(!(consignee == '' || address == '' || postcode == '' || tel =='')){
            $.ajax({ 
                type:"post",
                url:"{:U('addressEditForm')}",
                data:'uid='+uid+'&consignee='+consignee+'&address='+address+'&tel='+tel+'&postcode='+postcode,
                success:function(data){ 
                    if(data == 1){                     
                        alert('添加成功！');
                        window.parent.location.reload();        
                    }else{ 
                        alert('添加失败！');
                        window.parent.location.reload();
                    }
                }

            });
        }
    });    
});

</script>
</body>
</html>
