<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>评价列表</title>
    <meta http-equiv="keywords" content="QAQ商城,笔记本,手机,数码相机,数码影音,DIY硬件" />
    <meta name="description" content="QAQ商城（QAQ.com）具备在3年内成长为中国最大的3C电子商城之潜力，源于中国IT行业第一垂直媒体（QAQ.com.cn）在IT及互联网行业已臻十年的深厚积累。运营核心，只为了给用户打造一个放心、省心、舒心的购物平台！" />
    <link href="__PUBLIC__/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
    <body> 
    <!-- 头部-s -->
    <include file="User/header" />
    <!-- 头部-e -->  
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.min.js"></script>  
    <script type="text/javascript" src="__PUBLIC__/Home/js/layer/1.9.3/layer.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/Home/js/laypage.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/Home/js/H-ui.js"></script> 
    <script type="text/javascript" src="__PUBLIC__/Home/js/H-ui.admin.js"></script>

    <div class="wrap">
        <div class="bread_crumbs"> <a href="{:U('Home/User/index')}" class="crumbs_font">我的shop</a>&gt;<span class="color">评论管理</span></div>
        
        <!--菜单--> 
        <include file="User/menu" /> 
        <!--菜单-->     
  
        <!--侧边导航栏结束-->
        <div class="col_main">
            <div class="main evaluation"> 
                <!-- themes star -->
                <div class="themes_title">
                    <h3>我的评价</h3>
                </div>
                <!-- themes end -->
                
                <div class="ui_tab">
                    <ul class="ui_tab_nav">
                        <li class="<if condition="$_GET['status'] eq ''">active</if>"><a href="" class="target_no">评论列表</a></li>
                        <!--
                        <li class="last <if condition="$_GET['status'] eq '1'">active</if>"><a href=" {:U('/Home/User/comment',array('status'=>1))}" class="target_no">已评论</a></li>
                        -->
                    </ul>
                    <div class="ui_tab_content">
                        <div style="display:block;" id="noComment" class="ui_panel">             
                        <div class="evaluation_cont">
                            <div class="order_list J_order_list">
                                <volist name="orderlist" id="list">
                                    <table class="paying">
                                        <tbody>
                                            <tr class="list_top">
                                                <td colspan="3">
                                                <div class="f_left order_info">
                                                    <span class="time num">{$list.addtime|date='Y-m-d H:i:s',###}</span>
                                                    <span class="order_No"> 订单号：<small class="num">{$list.numid}</small> </span> 
                                                </div>
                                                
                                                <div class="f_right order_tip">
                                                    <span class="num">应付金额：<em class="rmb">￥</em>{$list['buy']}</span>

                                                                                   
                                                </div>
                                                </td>
                                            </tr>
                                        
                                            <volist name="list.goodslist" id="good" key="k">                
                                                <tr class="list_cont ">
                                                    <td class="td_01">                  
                                                        <div class="list_main clearfix"> 
                                                            <a class="J_hover" href="{:U('Home/Gdetail/index',array('goodsId'=>$good['gid']))}" target="_blank"><img alt="{$good.goodsname}" src="__PUBLIC__/Uploads/{$good.addtime}/{$good.pic}"></a> 
                                                            {$good.goodsname}
                                                        </div>
                                                    </td>     
                                                    
                                                    <if condition="$k eq 1"> 
                                                               
                                                      <td class="td_02"  rowspan="<?php echo count($list[goodslist]);?>">
                                                        <p><a href="{:U('Home/User/order_detail',array('id'=>$list['orderid']))}" class="target_no">订单详情</a></p>
                                                      </td>
                                                   </if>
                                                    
                                                    <td class="td_03"> 
                                                        <if condition="$good['commentstate'] eq 0">
                                                            <!--
                                                            <a href="javascript:;" onclick="address_edit('地址编辑','__URL__/edit?id={$val.id}&uid={$val.uid}')" class="target_no" style="text-decoration:none" title="编辑">
                                                            
                                                            <i class="Hui-iconfont">&#xe63c;</i>
                                                            </a>
                                                            -->
                                                            <p><a class="btn-02" href="javascript:;" onclick="add_comment('地址编辑','__URL__/add_comment?oid={$good.oid}&gid={$good.gid}&uid={$good.uid}&id={$good.id}')" style="text-decoration:none">立即评价</a></p>
                                                        </if>
                                                        <if condition="$good['commentstate'] eq 1">
                                                            
                                                            <p><a  class="btn-02" href="{:U('Home/Gdetail/index',array('goodsId'=>$good['gid']))}">查看评价</a></p>
                                                        </if>
                                                                        
                                                    </td>
                                                </tr> 
                                                  
                                            </volist>             
                                        </tbody>
                                    </table>
                                </volist>                                       
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
      
        <div class="operating fixed" id="bottom">
            <div id="page" style="text-align: center;">
            
                    {$page}
                
            </div>
        </div>      
      
        <div class="explanation">
            <h5 class="explanation_tips">评论说明</h5>
        <div class="explanation_cont">
         
            <p>1.评论是用户对商品的质量、使用情况、用后心得体验，服务质量所发表的感受和意见；</p>
            <p>2.请您填写商品评论星级、评论标签及商品使用体验描述，您的宝贵建议是我们不断改进服务的动力；</p>
            <p>3.您只能评论购买过的商品，对同一商品一次只能发表一条评论；</p>
            <p>4.为了让我们即时收到您的宝贵反馈，请您收到商品后的3个月之内发表评论。</p>
        </div>
      </div>
    </div>
 
<div style="clear: both;"></div>
<include file="User/footer" />
</body>

<script>

    (function page(){ 
            $("#page").css("margin-top","15px").find('a').css({'margin': "0 9px",
                "display": "inline-block",
                "border":"1px solid #ededed",
                "text-align": "center",
                "width":"25px",
                "height":"25px",
                "text-decoration":"none"
                }
            ).hover(function(){
                $(this).css({"background":"#5A98DE","color":"white"})
            },function(){
                $(this).css({"background":"white","color":"black"})
            });
        
            $("#page").find('span').css({'margin': "0 9px",
                "display": "inline-block",
                "background": "#5A98DE",
                "text-align": "center",
                "width":"25px",
                "height":"25px",
                "color":"white"}
            );
        })();

    /*添加评论*/
     function add_comment(title,url){
        //layer_show(title,url,w,h);
        layer.open({
            type: 2,
            title: '添加评论',
            shadeClose: true,
            shade: 0.5,
            area: ['800px', '580px'],
            content: url,
        });
    }

$(function(){

    $('.address-adc').on("click",'#del',function(){        
        id = $(this).attr('unable-id');
        var ob = $(this);
        $.get(
                "__URL__/del_address",
                {id:id},
                function(data){ 
                    if(data == 1){ 
                        alert('删除成功!');
                        ob.parent().parent().remove();
                    }else{ 
                        alert('删除失败！');
                    }
                },
                'json'
        );

    });
});
    
</script>
</html>