<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <meta http-equiv="keywords" content="QAQ商城,笔记本,手机,数码相机,数码影音,DIY硬件" />
    <meta name="description" content="QAQ商城（QAQ.com）具备在3年内成长为中国最大的3C电子商城之潜力，源于中国IT行业第一垂直媒体（QAQ.com.cn）在IT及互联网行业已臻十年的深厚积累。运营核心，只为了给用户打造一个放心、省心、舒心的购物平台！" />
    <link href="__PUBLIC__/Home/css/personal.css" rel="stylesheet" type="text/css" />  
    <!-- 头部-s -->
    <include file="User/header" />
    <!-- 头部-e -->
    <style type="text/css">
    	.next,.prev,i.icon{background:none}
    	.prev:after{ content:"<"}
    	.next:after{ content:">"}
    	.daterangepicker{border:1px solid #dedede;}
    	.personal_info_image .name{margin-top:26px;}
    </style>
    <div class="wrap"> 
        <!-- bread crumbs star -->
        <div class="bread_crumbs"> 
            <a href="{:U('Home/User/index')}" class="target_no">我的shop</a>&gt;<span class="color">个人信息</span>
        </div>

        <!-- bread crumbs end --> 
  
        <!--侧边导航栏-->  
        <!--菜单--> 
        <include file="User/menu" /> 
        <!--菜单--> 
        <!--侧边导航栏结束-->
  
          <!-- col main star -->
            <div class="col_main">
                <div class="main personal clearfix"> 
                    <!-- themes star -->
                    <div class="themes_title">
                        <h3>个人信息</h3>
                    </div>
                  
                    <!-- themes end -->
                    <div class="personal_info clearfix">
                        <form action="" method="post" id="personal_info_form">
                        
                        <div class="personal_info_content clearfix">
                            <div class="personal_info_image">
                                <div class="name"> <span>头像：</span> </div>
                                    <div class="detail J_edit_photos">             
                                    <img class="btn_upload" id="preview" src="{$user.head_pic|default='__PUBLIC__/Home/image/headPic.jpg'}" />
                                    <div class="edit J_btn_upload"> <a href="javascript:void(0);">编辑头像</a>
            				        <input type="hidden" name="head_pic" id="head_pic" value="{$user.head_pic}">

                                </div>
                            </div>
                        </div>
                      
                        <div class="personal_info_nickname">
                            <div class="name"> <span>登录名：</span> </div>
                                <div class="detail">
                                    <input type="hidden" name="uid" id="uid" disabled="none" value="{$_SESSION['user']['id']}"  maxlength="10" />
                                    <input type="text" name="name" id="name" disabled="none" value="{$_SESSION['user']['name']}"  maxlength="10" />
                                    <span class="red"></span> 
                                </div>
                        </div>

                        <div class="personal_info_truename">
                            <div class="name"> 
                                <span>*昵称：</span> 
                            </div>
                            <div class="detail">
                                <input type="text" name="nickname" id="nickname" value="{$detail[nickname]}" maxlength="20" />
                                <span class="red"></span> 
                            </div>
                        </div>
                        
                        <div class="personal_info_truename">
                            <div class="name"> 
                                <span>等级：</span> 
                            </div>
                            <div class="detail">
                                <input type="text" name="grade" disabled="none" id="grade" value="{$dengji}"maxlength="20" />
                                <span class="red"></span> 
                            </div>
                        </div>          
                        
                        <!--
                        <div class="personal_info_truename">
                            <div class="name"> 
                                <span>生日：</span> 
                            </div>
                            <div class="detail" > 
            	               <input type="text" name="birthday" id="birthday" value="{$user.birthday|date="y-m-d",###}" />
                            </div>
                        </div> 
                        -->

                        <div class="personal_info_truename">
                            <div class="name"> 
                                <span>*所在地：</span> 
                            </div>
                            <div class="detail" > 
                               <input type="text" name="address" id="address" value="{$detail[address]}" />
                            </div>
                        </div> 
                        
                        <div class="personal_info_truename">
                            <div class="name"> 
                                <span>注册时间：</span> 
                            </div>
                            <div class="detail">
                                <input type="text" name="addtime" id="addtime" value="{$data.addtime|date="Y-m-d H:i:s",###}" disabled="none" maxlength="20" />
                                <span class="red"></span> 
                            </div>
                        </div>     
            		  

                        <div class="personal_info_sex">
                            <div class="name"> <span>*性别：</span> </div>
                            <div class="detail" id="sex">
                                <ul>
                                    <li>
                                        <input type="radio" name="sex" checked="checked" id="gd_secret" <if condition="$detail['sex'] eq '1'">checked</if> value="1">
                                        <label for="male">男</label>
                                    </li>              
                        

                                    <li>
                                        <input type="radio" name="sex" id="gd_femile" style="margin-left:10px;" <if condition="$detail['sex'] eq '0'">checked</if> value="0">
                                        <label for="female">女</label>
                                    </li>
                                </ul>
                            </div>
                        </div>   
                             
                    <div class="personal_info_bind">
                        <div class="bind">
                            <ul>
                                <li class="mobile">
                	                <span><i class="icon_phone"></i>手机</span>
                                	<a class="change target_no" href="{:U('Home/User/mobile_validate',array('type'=>'mobile','step'=>1))}">
                                	    <if condition="$user['mobile_validated'] eq 0">未验证(点击验证)<else/>已验证(点击修改)</if>
                                    </a>
                                </li>
                                <li class="mail">
                                	<span><i class="icon_email"></i>邮箱</span>
                                    <a class="null target_no" href="{:U('Home/User/email_validate',array('type'=>'email','step'=>1))}">
                                        <if condition="$user['email_validated'] eq 0">未验证(点击验证)<else/>已验证(点击修改)</if>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="tips"> 注：修改密码请到
                            <a href="{:U('Home/User/password')}" class="target_no">更改</a>
                        </div>
                    </div>
                       
                    <div class="personal_info_btn"> 

                        <button type="button" id="edit" class="btn_pay target_no" value="确认保存" >确认保存</button>
                        <!--
                        <a href="javascript:void(0);" onClick="$('#personal_info_form').submit();" id="edit" class="btn_pay target_no" alt="确认保存" title="确认保存" canSend="true">确认保存</a> 
                        <button type="button" class="btn btn-primary radius" id="up" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">提交</button>
                        -->
                    </div>
                    </div>
                    </form>
                  </div>
                </div>
            </div>
          <!-- col main end --> 
    </div>
    
    <div style="clear: both;"></div>

    <!--导入用户中心的底部-->
    <include file="User/footer" /> 


<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 

<script src="__PUBLIC__/Home/js/global.js"></script>
<script src="__PUBLIC__/Home/js/pc_common.js"></script>
<script type="text/javascript">
$(function(){
   
    $('#edit').click(function(){
        uid = $('#uid').val();
        //alert(uid);
        nickname = $('#nickname').val();
        //alert(nickname);
        address = $('#address').val();
        //alert(address);
        sex = $('#sex').find('input:checked').val();
        //alert(sex);
        $.ajax({ 
            type:"post",
            url:"{:U('user/userinfoForm')}",
            data:'nickname='+nickname+'&address='+address+'&sex='+sex+'&uid='+uid,
            success:function(data){ 
                if(data == 1){                     
                    alert('修改成功！');
                    window.parent.location.reload();        
                }else{ 
                    alert('保存成功！');
                    window.parent.location.reload();
                }
            }

        });
    });    
});
</script>
</html>