<div class="sideBar_nav">
<dl>
  <dt>交易中心 </dt>
  <dd><i class="icon_square"></i><a class="target_no <if condition="strtolower(ACTION_NAME)  eq 'order_list'">active</if>" href="{:U('Home/User/order_list')}">我的订单</a></dd>
  <dd><i class="icon_square"></i><a class="target_no <if condition="strtolower(ACTION_NAME)  eq 'comment'">active</if>" href="{:U('Home/User/comment')}">我的评价</a></dd>
  <dd><i class="icon_square"></i><a class="target_no <if condition="strtolower(ACTION_NAME)  eq 'coupon'">active</if>" href="{:U('Home/User/coupon')}">优惠券</a></dd>
  <dd><i class="icon_square"></i><a class="target_no <if condition="strtolower(ACTION_NAME)  eq 'account'">active</if>" href="{:U('Home/User/account')}">资金管理</a></dd>
  <dd><i class="icon_square"></i><a class="target_no <if condition="strtolower(ACTION_NAME)  eq 'goods_collect'">active</if>" href="{:U('Home/User/goods_collect')}">我的收藏</a></dd>
</dl>
<dl>
  <dt>个人中心</dt>
  <dd><i class="icon_square"></i><a class="target_no <if condition="strtolower(ACTION_NAME)  eq 'avatar'">active</if>" href="{:U('Home/User/avatar')}">修改头像</a></dd>
  <dd><i class="icon_square"></i><a class="target_no <if condition="strtolower(ACTION_NAME)  eq 'info'">active</if>" href="{:U('Home/User/info')}">个人信息</a></dd>
  <dd><i class="icon_square"></i><a class="target_no <if condition="strtolower(ACTION_NAME)  eq 'address_list'">active</if>" href="{:U('Home/User/address_list')}">地址管理</a></dd>
  <dd><i class="icon_square"></i><a class="target_no <if condition="strtolower(ACTION_NAME)  eq 'safety_settings'">active</if>" href="{:U('Home/User/safety_settings')}">安全设置</a></dd>
</dl>
<dl class="service_center">
  <dt>服务中心</dt>
  <dd><i class="icon_square"></i><a class="target_no <if condition="strtolower(ACTION_NAME)  eq 'return_goods_list'">active</if>" href="{:U('Home/User/return_goods_list')}">退货管理</a></dd>
</dl>
</div>
