<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <meta http-equiv="keywords" content="QAQ商城,笔记本,手机,数码相机,数码影音,DIY硬件" />
    <meta name="description" content="QAQ商城（QAQ.com）具备在3年内成长为中国最大的3C电子商城之潜力，源于中国IT行业第一垂直媒体（QAQ.com.cn）在IT及互联网行业已臻十年的深厚积累。运营核心，只为了给用户打造一个放心、省心、舒心的购物平台！']}" />
    </head>
    <body>
    <!-- 头部-s -->
    <include file="User/header" />
    <!-- 头部-e -->

    <div class="wrap"> 
        <!-- bread crumbs star --> 
        <div class="bread_crumbs"> <a class="target_no" href=""  class="crumbs_font">我的shop</a>&gt;<a href="{:U('/Home/User/order_list')}" class="crumbs_font target_no">我的订单</a></div>
        <!-- bread crumbs end -->  

        <!-- order details star -->  
        <div class="main order_details">
            <div class="themes_title">
              <h3>订单详情</h3>
            </div>
            
            <!-- order base info start -->
            <div class="order_tip">
                <div class="order_tip_tit clearfix">
                    <h3> 订单号：
                        <span class="num">{$order_info.numid}</span>
                    </h3>  
                </div>
                <div class="order_tip_info">
                    <div class="info_box">
                        <div class="info_L"> 订单状态： </div>
                        <div class="info_R">
                            <span class="df"><if condition="($order_info[orderstatus] neq 3) AND ($order_info[paystatus] eq 0)">待支付<elseif condition="($order_info[orderstatus] neq 3) AND ($order_info[paystatus] eq 1)"/>已支付<elseif condition="$order_info[orderstatus] eq 3"/>已取消</if></span>
                        </div>
                    </div>
                    <div class="info_box">
                        <div class="info_L"> 应付金额： </div>
                        <div class="info_R">
                            <span class="num">￥{$order_info.buy}</span>
                            <span class="way_tips" style="display:inline-block;">{$order_info.pay_name}</span>            
                        </div>
                    </div>
		            <div class="info_box">
                        <div class="info_L"> 支付方式： </div>
                        <div class="info_R">
                            <span class="num"><if condition="$order_info[payment] eq 0">货到付款<elseif condition="$order_info[payment] eq 1"/>微信支付<elseif condition="$order_info[payment] eq 2"/>支付宝支付<elseif condition="$order_info[payment] eq 3"/>银联支付</if></span>
                        </div>
                    </div>
                    <!--
                    <div class="info_box">
                        <div class="info_L"> 积&nbsp;&nbsp;分： </div>
                        <div class="info_R">
                            <span class="num">￥{$order_info.integral_money}</span>
                        </div>
                    </div>
		            
                    <div class="info_box">
                        <div class="info_L"> 余&nbsp;&nbsp;额： </div>
                        <div class="info_R">
                            <span class="num">￥{$order_info.user_money}</span>
                        </div>
                    </div>   
                	
                    <div class="info_box">
                        <div class="info_L"> &nbsp;优惠券： </div>
                        <div class="info_R">
                            <span class="num">￥{$order_info.coupon_price}</span>
                        </div>
                    </div>                      
	                <div class="info_box">
                        <div class="info_L"> 优惠活动： </div>
                        <div class="info_R">
                            <span class="num">￥{$order_info.order_prom_amount}</span>
                        </div>
                    </div>
                    -->          
                    <div class="info_box">
                        <div class="info_L"> 收货信息： </div>
                        <div class="info_R">{$order_info.consignee} {$order_info.tel} {$order_info.address} </div>
                    </div> 
                    <div class="info_box">
                        <div class="info_L">留言信息：{$order_info.written}</div>
                            <div class="info_R" id="invoiceDetail" ogNo="201603CP09721849" ogSeq="201603CO09721849" invkind="5" > </div>
                            <div class="ui_poptip money_info m_ord_lnk J-zdsw">
                                <div class="ui_poptip_container"> <i class="icon_order_up"></i>
                                    <div id="urlDetail" class="ui_poptip_content"> </div>
                                </div>
                            </div>
                            <div id="invoiceMsg" class="info_L"> </div>
                        </div>
                    </div>
                </div>
                
                <div class="order_info">
                    <div class="ui_tab">
                        <ul class="ui_tab_nav">
                            <li class =" active">
                                <a href="javascript:void(0);" class="detail_packNo">订单</a>
                            </li>
                            <li class="opeating" id="opeating_1" style="display:block;">    <!--      
                                <if condition="$order_info[paystatus] eq 0"><button class="btn_pay" onClick="cancel_order({$order_info.orderid})">取消订单</button></if>
                                
                                <if condition="$order_info[paystatus] eq 0"><button class="btn_pay"  onclick="location.href='{:U('/Home/Cart/cart3',array('orderid'=>$orderinfo[orderid]))}'">立即支付</button></if> 
                                -->               
                                
                                <if condition="$order_info.receive_btn eq 1"><button class="btn_pay"  onClick=" if( confirm('你确定收到货了吗?')) location.href='{:U('Home/User/order_confirm',array('id'=>$order_info['order_id']))}'">收货确认</button></if>    
                            </li>
                        </ul>
                        
                        <div class="ui_tab_content">
                            <div class="ui_panel" id="ui_panel_1" style = "display: block;">
                                <h3>订单信息
                                    <span class="package" id="package_bag_1"> </span>
                                </h3>
                                <div class="package_info clearfix J-tab">
                                    <div class="package_L">                 
                                        <div class="info_box">
                                            <div class="info_L"> 运费：</div>
                                                <div class="info_R">
                                                    <span class="num">￥0.00</span>
                                                </div>
                                        </div>
                                    <div class="info_box">
                                    
                                    <div class="info_L"> 配送方式：</div>
                                        <div class="info_R">
                                            <span class="over"><if condition="$order_info['shipping'] eq 0">顺丰<elseif condition="$order_info['shipping'] eq 1"/>圆通<elseif condition="$order_info['shippng'] eq 2"/>申通<elseif condition="$order_info['shipping'] eq 3"/>中通</if></span>
                                        </div>
                                </div>
                
                                <div class="info_box">
                                    <div class="delivery_time">本商品由QAQ网自营提供</div>
                                </div>
                                
                                <div class="info_box">
                                    <div class="info_L"> 运 单 号：{$order_info.invoice_no} <a href="http://www.kuaidi100.com/" target="_blank">(点击查询)</a>  </div>
                                    <div class="info_R">
                                        <ul class="packages J-tab-menu" id= "spv_name_1"></ul>
                                    </div>
                                </div>
                                
                                <div class="info_box again"> <a  href='__MODULE__/index/index' class="btn_again" alt="再次购买" title="再次购买">再次购买</a> </div>
                            </div>
                            
                            <div class="package_R">
                                <ul class="ui_step ui_step_4 clearfix">
                                    <li class="step_start">
                                        <div class="ui_step_title">下单</div>
                                            <div class="ui_step_bg">
                                                <div class="step_bg">1</div>
                                                <div class="step_line"></div>
                                            </div>
                                            
                                            <div class="ui_step_time">{$order_info.addtime|date='Y-m-d H:i:s',###}</div>
                                    </li>
                                    
                                    <li class="<if condition="$order_info[paystatus] eq 1">step_start</if>">
                                        <div class="ui_step_title">付款方式</div>
                                        <div class="ui_step_bg">
                                            <div class="step_bg">2</div>
                                            <div class="step_line"></div>
                                        </div>
                                        <div class="ui_step_time" ><if condition="$order_info[payment] eq 0">货到付款<elseif condition="$order_info[payment] eq 1"/>微信支付
                                        <elseif condition="$order_info[payment] eq 2"/>支付宝<elseif condition="$order_info[payment] eq 3"/>银联支付</if></div>
                                    </li>
                                    
                                    <li class="<if condition="$order_info[shipping_time] gt 0">step_start</if>">
                                        <div class="ui_step_title">卖家发货</div>
                                            <div class="ui_step_bg">
                                                <div class="step_bg">3</div>
                                                <div class="step_line"></div>
                                            </div>
                                            <div class="ui_step_time" ><if condition="$order_info[shipping_time] gt 0">{$order_info.shipping_time|date='Y-m-d H:i:s',###}</if></div>
                                    </li>
                  
                                    <li  class="step_end <if condition="$order_info[confirm_time] gt 0">step_start</if>">
                                        <div class="ui_step_title"> 完成 </div>
                                            <div class="ui_step_bg">
                                                <div class="step_bg">4</div>
                                                <div class="step_line"></div>
                                            </div>
                                            <div class="ui_step_time" ><if condition="$order_info[confirm_time] gt 0">{$order_info.confirm_time|date='Y-m-d H:i:s',###}</if></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
            


                    <h3>商品信息</h3>
                        <div class="details_list">
                            <div class="details_list_tit clearfix">
                                <ul>
                                    <li class="col_w40">商品名称</li>
                                    <li class="col_w15">规格</li>
                                    <li class="col_w15">价格 / 数量</li>
                                    <li class="col_w15">合计（元）</li>
                                    <li class="tit_05 col_w15">订单状态及操作</li>
                                </ul>
                            </div>
                            
                            <div class="details_list_cont">
              
                            <volist name="orderdetail" id="good">
                            
                                <div class="item_details">
                                    <ol class="clearfix">
                                        <li class="col_w40">
                                            <div class="item_container clearfix">
                                                <!--
                                                <a href="{:U('Home/Goods/goodsInfo',array('id'=>$good['goods_id']))}" class="item_img">
    	                                            <img src="{$good.goods_id}"/>
                                                </a>
                                                -->
                                                
                                                <div class="item_meta">  
                                                    <a href="{:U('Home/Gdetail/index',array('goodsId'=>$good['gid']))}" class="order_name">{$good.goodsname}</a> 
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col_w15">{$good.spec_key_name}</li>
                                        <li class="col_w15 num">￥{$good.price}&nbsp;&nbsp; *&nbsp;&nbsp; {$good.num}</li>
                                        <li class="col_w15 num">￥{$good['price'] * $good['num']}</li>
                                        <li class="cont_05 col_w15 num">                        
                                            <if condition="($order_info[return_btn] eq 1) and ($good[is_send] eq 1)">    
                                                <p class="p-link"><a style="color:#999;" href="{:U('Home/User/return_goods',array('order_id'=>$order_info['order_id'],'order_sn'=>$order_info['order_sn'],'goods_id'=>$good['goods_id'],'spec_key'=>$good['spec_key']))}">申请退款</a></p>    
                                            </if>
                                            <if condition="($order_info.comment_btn eq 1) and ($good['is_comment'] eq 0)">
                                            <p class="p-link"><a href="{:U('Home/User/comment')}"><span>评价</span></a></p>
                                            </if>                    
                                        </li>
                                    </ol>
                                </div>
                            </volist>				                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      <!-- ui tab end --> 
        </div>
        </div>
  <!-- order details end --> 
  
    </div>
<div style="clear: both;"></div>
<include file="User/footer" />
<script>
    //取消订单
    function cancel_order(id){
        if(!confirm("确定取消订单?"))
            return false;
        //location.href = "/index.php?m=Home&c=User&a=cancel_order&id="+id;
    }
</script>
</body>
</html>