<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <title>密码管理</title>
    <meta http-equiv="keywords" content="QAQ商城,笔记本,手机,数码相机,数码影音,DIY硬件" />
    <meta name="description" content="QAQ商城（QAQ.com）具备在3年内成长为中国最大的3C电子商城之潜力，源于中国IT行业第一垂直媒体（QAQ.com.cn）在IT及互联网行业已臻十年的深厚积累。运营核心，只为了给用户打造一个放心、省心、舒心的购物平台！" />
    </head>
    <style type="text/css">
    .favorites_title ul li,.favorites .favorites_content .clearfix li{width:19.8%}
    .favorites_title ul li, .favorites .favorites_content .clearfix li:last-child{border:0}
    </style>

    <body> 
        <!-- 头部-s -->
        <include file="User/header" />
        <!-- 头部-e -->
        <link rel="stylesheet" href="__PUBLIC__/Home/css/favorite.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/security_set.css"/>
        <link href="__PUBLIC__/admin/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
        <script type="text/javascript" src="__PUBLIC__/admin/lib/icheck/jquery.icheck.min.js"></script> 
        <script type="text/javascript" src="__PUBLIC__/admin/lib/Validform/5.3.2/Validform.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/lib/layer/1.9.3/layer.js"></script>
        <script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.js"></script> 
        <script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script>

    <div class="wrap">
        <div class="bread_crumbs"> <a href="{:U('Home/User/index')}" class="crumbs_font">我的shop</a>&gt;<span class="color">密码管理</span></div>
            <!--菜单--> 
            <include file="User/menu" /> 
            <!--菜单-->     
            
            <!--侧边导航栏结束-->
            <div class="col_main">  
                <div class="main security_passwd">
                    <div class="themes_title">
                      <h3>安全设置</h3>
                    </div>
                    <section class="security_passwd">
                    <div class="wrapper-3">
                        <div id="step" class="pub-step">
                            <div class="steps-nav fixed ">
                                <p class="step-nav step-nav-1 go">1.原密码<i></i></p>
                                <p class="step-nav step-nav-2 go">2.新密码<i></i></p>
                                <p class="step-nav step-nav-3 go">3.确认密码</p>
                            </div>
                            
                            <form action="" method="post" class="form form-horizontal" id="form-password-edit">
                                <div id="stepBlock2" class="steps-con block-02">
                                    <div class="step-col fn-form captcha_row" data-fn-verify="">
                                        <ul style="display: block;" class="pub-ul verify-captcha-sms">
                                            <input type="hidden" class="input-text" disabled="none" value="{$pwd}" placeholder="" id="pwd" name="pwd">
                                            <input type="hidden" class="input-text" disabled="none" value="{$name}" placeholder="" id="username" name="username">
                                            <li> 
                                                <span class="title">原密码：</span>
                                                <div class="con verify-group">
                                                <input type="password" placeholder="请输入原密码" class="input-text" value="" name="old_password" id="old_password" nullmsg="姓名不能为空" datatype="p">
                                                <span style="display: block;" class="v-tips verify-tips"> 
                                                    <i class="icon" id="rightTip"></i>
                                                    <span id="errorEmail" class="txt"></span> 
                                                </span>                                
                                                </div>
                                            </li>
                                            
                                            <li> 
                                                <span class="title">新密码：</span>
                                                <div class="con verify-group">
                                                <input type="password" class="input-text" placeholder="请输入新密码" value="" name="new_password" id="new_password">
                                                <span style="display: block;" class="v-tips verify-tips"> 
                                                    <i class="icon" id="rightTip"></i>
                                                    <span id="errorEmail" class="txt"></span> 
                                                </span>
                                                </div>
                                            </li>
                                            
                                            <li> 
                                                <span class="title">确认密码：</span>
                                                <div class="con verify-group">
                                                <input type="password" placeholder="请输入确认密码" class="input-text" id="confirm_password" name="confirm_password">
                                                <span style="display: block;" class="v-tips verify-tips"> 
                                                    <i class="icon" id="rightTip"></i>
                                                    <span id="errorEmail" class="txt"></span> 
                                                </span> 
                                               </div>
                                            </li>
                 
                                            <li>
                                              <button class="btn_120 verify-ctrl" id="up" type="button"> 提交 </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </form>          
                        </div>
                    </div>
                    </section>
                </div>
            </div> 
    </div>
 
    <div style="clear: both;"></div>
    <include file="User/footer" />
    <script type="text/javascript">
        $(function(){
   
            $('.skin-minimal input').iCheck({
                checkboxClass: 'icheckbox-blue',
                radioClass: 'iradio-blue',
                increaseArea: '20%'
            });
            
            $("#form-password-edit").Validform({
                tiptype:2,
                callback:function(form){
                    form[0].submit();
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.$('.btn-refresh').click();
                    parent.layer.close(index);
                }
            });

            $('#up').click(function(){

                pwd = $('#pwd').val();
                username = $('#username').val();
                //alert(username);
                //alert(pwd);
                old_password = $('#old_password').val(); 
                new_password = $('#new_password').val(); 
                confirm_password = $('#confirm_password').val(); 
                //alert(pwd);
                //alert(username);
                //alert(old_password);
                //alert(new_password);
                //alert(confirm_password);

               
                if(!(old_password == '' || new_password == '' || confirm_password == '')){
                    $.ajax({ 
                        type:"post",
                        url:"{:U('passwordEditForm')}",
                        data:'old_password='+old_password+'&new_password='+new_password+'&confirm_password='+confirm_password+'&pwd='+pwd+'&username='+username,
                        success:function(data){ 
                            if(data == 1){                     
                                alert('修改成功！');
                                window.parent.location.reload();       
                            }else if(data == 2){ 
                                alert('修改失败！');
                                window.parent.location.reload();
                            }else if(data == 3){    
                                alert('输入信息有误');
                                window.parent.location.reload();        
                            }else if(data == 4){    
                                alert('密码长度不能少于4位');
                                window.parent.location.reload();        
                            }
                        }

                    });
                }
            });    
        });
    </script>
    </body>
</html>
