<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,member-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>添加链接</title>
</head>
<body>
<div class="pd-20">
  <form action="" method="post" class="form form-horizontal" id="form-member-add">
    <div class="row cl">
      <label class="form-label col-3"><span class="c-red">*</span>请填写链接地址：</label>
      <div class="formControls col-5">
        <input type="text" class="input-text" value="{$formdata['url']}" placeholder="请填正确地址" id="link-url" name="link-url" datatype="*2-100" nullmsg="地址不能为空">
      </div>
      <div class="col-4"> </div>
    </div>
    <div class="row cl">
      <label class="form-label col-3"><span class="c-red">*</span>请填文字标题：</label>
      <div class="formControls col-5">
        <input type="text" class="input-text" value="{$formdata['contents']}" placeholder="请填标题" id="link-contents" name="link-contents" datatype="*2-100" nullmsg="标题不能为空">
      </div>
      <div class="col-4"> </div>
    </div>

    <div class="row cl">
      <label class="form-label col-3"><span class="c-red">*</span>状态(0代表禁用)：</label>
      <div class="formControls col-5">
        <input type="text" class="input-text" value="{$formdata['state']}" placeholder="请填正整数，0代表禁用" id="link-state" name="link-state" datatype="*1-100" nullmsg="状态不能为空">
      </div>
      <div class="col-4"> </div>
    </div>
      
    <div class="row cl">
      <div class="col-9 col-offset-3">
        <button type="button" class="btn btn-primary radius" id="up" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">提交</button>
      </div>
    </div>
  </form>
</div>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
$(function(){
   
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });
    
    $("#form-member-add").Validform({
        tiptype:2,
        callback:function(form){
            form[0].submit();
            var index = parent.layer.getFrameIndex(window.name);
            parent.$('.btn-refresh').click();
            parent.layer.close(index);
        }
    });
    
    $('#up').click(function(){
        url = $('#link-url').val();
        contents = $('#link-contents').val();
        state = $('#link-state').val();
        if(!(url == '' || contents == '' || state == '')){  
            $.ajax({ 
                type:"post",
                url:"{:U('linkEditForm')}",
                data:'&url='+url+'&contents='+contents+'&state='+state,
                success:function(data){ 
                    if(data == 1){                     
                        alert('添加成功！');
                        window.parent.location.reload();        
                    }else{ 
                        alert('添加失败！');
                        window.parent.location.reload();
                    }
                }

            });
        }
    });    
});

</script>
</body>
</html>