<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>添加管理员</title>
</head>
<body>
<div class="pd-20">
	<form action="" method="post" class="form form-horizontal" id="form-admin-add">
		<div class="row cl">
			<label class="form-label col-3">
				<span class="c-red">*</span>用户名：
			</label>
			<div class="formControls col-5">
				<input type="text" class="input-text" value="" placeholder="" id="admin-name" name="name" datatype="*2-16" nullmsg="用户名不能为空">
			</div>
			<div class="col-4"> </div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-3">
				<span class="c-red">*</span>密码：
			</label>
			<div class="formControls col-5">
				<input type="password" id="pwd" name="password" placeholder="密码" autocomplete="off" value="" class="input-text" datatype="*6-20" nullmsg="密码不能为空">
			</div>
			<div class="col-4"> </div>
		</div>
<!--
		<div class="row cl">
			<label class="form-label col-3">
				<span class="c-red">*</span>确认密码：
			</label>
			<div class="formControls col-5">
				<input type="password" placeholder="确认新密码" autocomplete="off" class="input-text Validform_error" errormsg="您两次输入的新密码不一致！" datatype="*" nullmsg="请再输入一次新密码！" recheck="newpassword" id="newpassword2" name="newpassword2">
			</div>
			<div class="col-4"> </div>
		</div>
-->		
		<div class="row cl">
			<label class="form-label col-3">
				<span class="c-red">*</span>手机：
			</label>
			<div class="formControls col-5">
				<input type="text" class="input-text" value="" placeholder="" id="admin-tel" name="tel"  datatype="m" nullmsg="手机不能为空">
			</div>
			<div class="col-4"> </div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-3">
				<span class="c-red">*</span>邮箱：
			</label>
			<div class="formControls col-5">
				<input type="email" class="input-text" placeholder="@" name="email" id="email" datatype="e" nullmsg="请输入邮箱！">
			</div>
			<div class="col-4"> </div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-3">用户组：</label>
			<div class="formControls col-5">
				<span class="select-box" style="width:150px;">
					<select class="select" name="group" size="1">
						<option value="4" disabled>超级管理员</option>
						<option value="1">商品组</option>
						<option value="2">客服组</option>
						<option value="3">管理层</option>
					</select>
				</span> 
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-9 col-offset-3">
				<input class="btn btn-primary radius" id="up" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/Validform/5.3.2/Validform.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/1.9.3/layer.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-admin-add").Validform({
		tiptype:2,
		callback:function(form){
			form[0].submit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
	
	$('#up').click(function(){
        name = $('#admin-name').val();
        password = $('#pwd').val();
        tel = $('#admin-tel').val();
		email = $('#email').val();
		group = $('#admin-role').val();
        if(!(name == '' || password == '' || tel == '' || email == '' || group  == '')){  
            $.ajax({ 
                type:"post",
                url:"{:U('adminAddForm')}",
                data:'name='+name+'&password='+password+'&tel='+tel+'&email='+email+'&group='+group,
                success:function(data){ 
                    if(data == 1){                     
                        alert('添加成功！');
                        window.parent.location.reload();        
                    }else{ 
                        alert('添加失败！');
                        window.parent.location.reload();
                    }
                }

            });
        }
    });
	
});
</script>
</body>
</html>