<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,member-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>禁用的用户</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 禁用的用户<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
	<div class="text-c">
		<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="">
		<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
	</div>
    <div id="div1">
        <div id="div2">
        	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
        	<div class="mt-20">
                
            	<table class="table table-border table-bordered table-hover table-bg table-sort fuck" >
            		<thead>
            			<tr class="text-c">
            				<th width="25"><input type="checkbox" name="" value=""></th>
            				<th width="35">ID</th>
                            <th width="65">用户名</th>
                            <th width="80">会员等级</th>
                            <th width="35">性别</th>
                            <th width="90">手机</th>
                            <th width="150">邮箱</th>
                            <th width="">地址</th>
                            <th width="130">加入时间</th>
                            <th width="70">状态</th>
                            <th width="100">操作</th>
            			</tr>
            		</thead>
            		<tbody>
                        <foreach name="userdata" item="val">
                			<tr class="text-c">
                				<td><input type="checkbox" value="1" name=""></td>
                				<td>{$val.id}</td>
                				<td><u style="cursor:pointer" class="text-primary" onclick="member_show('张三','member-show.html','10001','360','400')">{$val.username}</u></td>
                				 <td>{$val.grade}</td>
                                <td>{$val.sex}</td>
                                <td>{$val.tel}</td>
                                <td>{$val.email}</td>
                				<td class="text-l">{$val.address}</td>
                				<td>{$val.addtime}</td>
                				<td class="td-status"><span class="label label-danger radius">{$val.status}</span></td>
                				<td class="td-manage"><a style="text-decoration:none" href="javascript:;" return-id="{$val.id}" class="return-status" title="还原"><i class="Hui-iconfont">&#xe66b;</i></a> <a title="删除" href="javascript:;" delete-id="{$val.id}" class="delete-a" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                			</tr>
                        </foreach>
            		</tbody>
            	</table>
                <div id="page" style="text-align: center;">
                    {$page}
                </div>
            </div>
	   </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script> 
<script type="text/javascript">
$(function(){
	
    //$('.table-sort').dataTable({
		//"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		//"bStateSave": true,//状态保存
		//"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  //{"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
		//]
	//});
    
    /*
   
	$('.table-sort tbody').on( 'click', 'tr', function () {
		if ( $(this).hasClass('selected') ) {
			$(this).removeClass('selected');
		}
		else {
			table.$('tr.selected').removeClass('selected');
			$(this).addClass('selected');
		}
	});
    */
    // 修改分页的样式

    function page(){ 
        $("#page").find('a').css({'margin': "0 9px",
            "display": "inline-block",
            "background": "blue",
            "text-align": "center",
            "width":"25px",
            "height":"25px",
            "color":"white"}
        );
    
        $("#page").find('span').css({'margin': "0 9px",
            "display": "inline-block",
            "background": "red",
            "text-align": "center",
            "width":"25px",
            "height":"25px",
            "color":"white"}
        );
    }
    page();
    //删除
    $('#div1').on("click",'.delete-a',function(){ 
        //$(this).confirm('删除么')
        var td = $(this);
        var id = $(this).attr('delete-id');
        $.get("__URL__/userDelete",{id:id},
            function(data){ 
                if(data == 1){ 
                    alert('删除成功');
                    $('#div1').load("__SELF__ #div2",function(){ 
                        page();
                    });
                }else if(data == 0){ 
                    alert('删除失败！');
                }else{ 
                    alert('什么鬼');
                }
            },'json'
        );

    });
    // 还原
    $('#div1').on('click','.return-status',function(){ 
        var return_td = $(this);
        var id = $(this).attr('return-id');
        $.ajax({ 
            type:"post",
            url:"__URL__/userReturn",
            data:{id},
            success:function(data){ 
                if(data == 1){ 
                    alert('还原成功');
                    $('#div1').load("__SELF__ #div2",function(){ 
                        page();
                    })
                }else{ 
                    alert('还原失败！');
                }
            },dataType:'json'
        });
    });

});

/*用户-还原
function member_huanyuan(obj,id){
	layer.confirm('确认要还原吗？',function(index){
		
		$(obj).remove();
		layer.msg('已还原!',{icon: 6,time:1000});
	});
}
*/
</script> 
</body>
</html>