<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,member-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="__PUBLIC__/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/lib/icheck/icheck.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>添加用户</title>
</head>
<body>
<div class="pd-20">
  <form action="" method="post" class="form form-horizontal" id="form-member-add">
    <div class="row cl">
      <label class="form-label col-3"><span class="c-red">*</span>用户名：</label>
      <div class="formControls col-5">
        <input type="text" class="input-text" disabled="none" value="{$formdata['username']}" placeholder="" id="member-name" name="member-name" datatype="*2-16" nullmsg="用户名不能为空">
        <input type="hidden" id="aabb" value="{$formdata['id']}">
      </div>
      <div class="col-4"> </div>
    </div>
    <div class="row cl" id="eq-grade">
      <label class="form-label col-3"><span class="c-red">*</span> 会员等级：</label>

      <eq name="formdata['grade']" value="1">
          <div class="formControls col-5 skin-minimal">
            <div class="radio-box">
              <input type="radio" id="sex-1" name="grade" datatype="*" value="1" checked nullmsg="请选择等级！">
              <label for="sex-1">英勇黄铜</label>
            </div>
            <div class="radio-box">
              <input type="radio" id="sex-2" name="grade" value="2">
              <label for="sex-2">不屈白银</label>
            </div>
            <div class="radio-box">
                  <input type="radio" id="sex-3" name="grade" value="3">
                  <label for="sex-3">璀璨钻石</label>
            </div>
          </div>
      <else/>

        <eq name="formdata['grade']" value="2">
          <div class="formControls col-5 skin-minimal">
            <div class="radio-box">
              <input type="radio" id="sex-1" name="grade" value="1" datatype="*" nullmsg="请选择等级！">
              <label for="sex-1">英勇黄铜</label>
            </div>
            <div class="radio-box">
              <input type="radio" id="sex-2" name="grade" checked value="2">
              <label for="sex-2">不屈白银</label>
            </div>
            <div class="radio-box">
                  <input type="radio" id="sex-3" name="grade" value="3">
                  <label for="sex-3">璀璨钻石</label>
            </div>
          </div>
          <else/>
              <div class="formControls col-5 skin-minimal">
                <div class="radio-box">
                  <input type="radio" id="sex-1" name="grade" datatype="*" value="1" nullmsg="请选择等级！">
                  <label for="sex-1">英勇黄铜</label>
                </div>
                <div class="radio-box">
                  <input type="radio" id="sex-2" name="grade" value="2">
                  <label for="sex-2">不屈白银</label>
                </div>
                <div class="radio-box">
                  <input type="radio" id="sex-3" name="grade" checked value="3">
                  <label for="sex-3">璀璨钻石</label>
                </div>
              </div>
        </eq>
      </eq>
      <div class="col-4"> </div>
    </div>
    <div class="row cl">
      <div class="col-9 col-offset-3">
        <button type="button" class="btn btn-primary radius" id="up" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">提交</button>
      </div>
    </div>
  </form>
</div>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
$(function(){
   
    $('#up').click(function(){
        id = $('#aabb').val();
        grade = $('#eq-grade').find('input:checked').val();
        $.ajax({ 
            type:"post",
            url:"{:U('userEditForm')}",
            data:'id='+id+'&grade='+grade,
            success:function(data){ 
                if(data == 1){                     
                    alert('修改成功！');
                    window.parent.location.reload();        
                }else{ 
                    alert('修改失败！');
                    window.parent.location.reload();
                }
            }

        });
    });    
});
</script>
</body>
</html>