<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script charset="utf-8" src="__PUBLIC__/Home/js/cm.js"></script><script charset="utf-8"></script>
        <meta charset="utf-8">
        <title>{$GoodsDetail.goodname}-QAQ商城详情页</title>
        <meta http-equiv="keywords" content="tpshop｜thinkphp shop ｜TPshop 免费开源系统｜ thinkphp 商城 国内最强大的thinkphp shop b2cb2b开源商城">
        <meta name="description" content="tpshop｜thinkphp shop ｜TPshop 免费开源系统｜ thinkphp 商城 国内最强大的thinkphp shop b2cb2b开源商城">
        <meta name="__hash__" content="68fc823c064073733cc6d659691e2a7a_d85d6db9178fc15fec38e1c25cd9c713"><script src="__PUBLIC__/Home/js/_cm.js"></script>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/Gdetail.css" media="all">
        <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css">
        <link rel="stylesheet" href="__PUBLIC__/Home/css/base.css">
        <script src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script>
        <script src="__PUBLIC__/home/js/bootstrap.js"></script>
        <style>
          #big{
        
            width:300px;
            height:300px;
            overflow:scroll;
            overflow:hidden;
            /*float: right;*/
            position:absolute;
            display:none;
            left:500px;
            top:20px;
            }  
        .img-comm{  
            margin:-150px 25px 0px 
        }
        .p-price-comm{  
            margin:10px 0px 0px 10px
        }
       
        </style>
    </head>
<body>
<!--------头部开始-------------->
<include file="public/header" />
<script src="__PUBLIC__/Home/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/Home/js/global.js"></script>
<!--最顶部-->



 <!--------在线客服-------------->

  

<header>
    
    <div class="layout">
    
    <!--logo开始-->
        <div class="logo">
            <a href="__MODULE__/index/index" title="TPshop">
                <img src="__PUBLIC__/img/logo.jpg" alt="TPshop" style="margin:-27px 0px">
            </a>
        </div>
        <input type="hidden" id="goodsid" value="{$GoodsDetail['id']}">
    <!--logo结束-->
    
    <!-- 搜索开始-->
        <div class="searchBar">
            <div class="searchBar-form">
                <form name="sourch_form" id="sourch_form" method="post" action="__MODULE__/category/cateSearch">
                    <input class="text" name="q" id="q" value="" placeholder="  搜索关键字" type="text">
                    <input class="button" value="搜索" onclick="if($.trim($('#q').val()) != '') $('#sourch_form').submit();" type="button"style="margin:-2px -2px 0px -2px">
                    <input name="__hash__" value="68fc823c064073733cc6d659691e2a7a_d85d6db9178fc15fec38e1c25cd9c713" type="hidden">
                </form>
            </div>
            <div class="searchBar-hot">
                <b>热门搜索</b>
               	<a target="_top" href="http://localhost/index.php/Home/Goods/search/q/%E6%89%8B%E6%9C%BA.html" class="ht">手机</a><a target="_top" href="http://localhost/index.php/Home/Goods/search/q/%E5%B0%8F%E7%B1%B3.html">小米</a><a target="_top" href="http://localhost/index.php/Home/Goods/search/q/iphone.html">iphone</a><a target="_top" href="http://localhost/index.php/Home/Goods/search/q/%E4%B8%89%E6%98%9F.html">三星</a><a target="_top" href="http://localhost/index.php/Home/Goods/search/q/%E5%8D%8E%E4%B8%BA.html">华为</a> 
           </div>
        </div>
        <!-- 搜索结束-->
        <div>
            <img src="__PUBLIC__/img/ChMkJlYcpziIdMcxAAB2sdYBFdcAADnzQKpVyIAAHbJ372.jpg"  style="width:200px;margin:13px 0px 0px 205px">
        </div>
    </div>
</header>
   <!-- 导航-开始-->
   	<div class="navigation">
    	<div class="layout">
        	<!--全部商品-开始-->
        	<div class="allgoods">
            	
            	<div class="list">
                  
                </div>
            </div>
            <!--全部商品-结束-->
            
            <div class="ongoods">
            	<ul class="navlist">
            		<li class="homepage">
                        <a href="__MODULE__/index/index">
                            <span>首页</span>
                        </a>
                    </li>
                    <li class="page">
                        <a href="#"> 
                            <span="">手机城
                        </a>
                    </li>
                    <li class="page">
                        <a href="#">
                            <span="">珠宝
                        </a>
                    </li>
                    <li class="page">
                        <a href="#" >
                            <span="">家电城
                        </a>
                    </li>
                    <li class="page">
                        <a href="#">
                            <span="">促销商品
                        </a>
                    </li>
                    <li class="page">
                        <a href="#">
                            <span="">化妆品
                        </a>
                    </li>
                    <li class="page">
                        <a href="#"> 
                            <span="">数码城
                        </a>
                    </li>
                    <li class="page">
                        <a href="#" target="_top">
                            <span="">团购
                        </a>
                    </li> 
            	</ul>
            </div>
        </div>
    </div>



</script>
<!--------头部结束-------------->

<script src="__PUBLIC__/Home/js/pc_common.js"></script>

<script src="__PUBLIC__/Home/js/jquery.jqzoom.js"></script>
<script src="__PUBLIC__/Home/js/layer.js"></script><!--弹窗js 参考文档 http://layer.layui.com/-->
	<div class="layout">
    	<div class="breadcrumb-area">
        	<a href="__MODULE__/index/index">首页</a> &gt;&gt;
            <a href="#">乐器、家居、家电、数码、男装</a> &gt;&gt;<a href="#">{$GoodsDetail.typename}</a> &gt;&gt;<span>{$GoodsDetail.goodname}</span>
        </div>
        <div class="layout pa-to-10">            
            <!--商品图片轮播-->            
            <div class="left-area">
              <div class="left-area-tb">
               <div class="pro-gallery-img" >
               <!--小图-->
                <div style="width: 400px; height:400px;" class="zs-big-pic" id="zs-big-pic" rel="gal1" ><img width="480" height="400"  id="sim93503" src="__PUBLIC__/Home/image/GD1.jpg"></div>
                        <!-- 大图 -->
                        <div style="display: none;width: 400px; height: 400px;overflow:hidden; position:absolute;display:none;left:550px;top:0px;" id="zoom1-big"><img src="__PUBLIC__/Home/image/GD1.jpg"><div style="color: rgb(204, 204, 204); font-size: 10px; font-family: Tahoma; position: absolute; width: 100%; text-align: center; left: 0px; top: 380px;"></div>
                        </div>
                        <div class="zs-focus-thumb">
                            <div class="zs-focus-list" id="zs-focus-list">
                                <ul>
                                    <li id="1" style="cursor: pointer;float:left;padding:0px 10px 0px 0px;" class="" >
                                       <img width="70" height="70" style="padding: 0px;" src="__PUBLIC__/Home/image/GD1.jpg">
                                        
                                    </li>        
                                    <li class="" id="2" style="cursor: pointer; float:left;padding:0px 10px 0px 0px;">
                                        <img width="70" height="70" style="padding: 0px;" src="__PUBLIC__/Home/image/GD2.jpg">
                                        
                                    </li>        
                                    <li class="" id="3" style="cursor: pointer; float:left;padding:0px 10px 0px 0px;">
                                       <img width="70" height="70" style="padding: 0px;" src="oYYBAFbPtG6AZe85AAIE3loCxUE225.jpg">                
                                    </li>        
                                    <li class="" id="4" style="cursor: pointer; float:left;padding:0px 10px 0px 0px;">
                                        <img width="70" height="70" style="padding: 0px;" src="Cg-4WVUokb6IQPdTAAEk0pLkpPwAABVOAJWtiQAASTq246.jpg">           
                                    </li>        
                                </ul>
                            </div>
                        </div>


	                    <a href="javascript:;" class="pro-gallery-forward next-right"></a>
	                </div>
				</div>
                <!-- 修改的部分-end --> 
              </div>
                
            <!--商品图片轮播 end--> 

                <div class="right-area">
                    <div class="right-area-le30">
                        <h1>{$GoodsDetail.goodname}</h1>
                        <div class="cpxq-explain">
                        {$GoodsDetail.discribe}                      
                        </div>
                    </div>  
                </div>
                <div class="right-area ma-to--1">
                    
                    <!--商品促销 start-->   
                                        <!--商品促销 end-->               
                    <div class="right-area-le30 pa-3-0-0-30">
                        
                        <div class="pro-promotions-area">
                            <table class="promotions-tab" border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody><tr>
                                <td align="right" width="60px">价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</td>
                                <td>
                                    <p class="co-red fo-si-24 ma-le-6">
                                        ￥<span class="co-red fo-si-24" id="goods_price">{$GoodsDetail.price}</span>
                                    </p>                                    
                                </td>
                              </tr>
                              <tr>
                                <td align="right" width="60px">商品编号：</td>
                                <td>
                                    <p class=" ma-le-6" style="width:140px">TP0000049 <span style="color:blue">收藏<span></p>                      
                                    <!--------用户评价-end---------------->                           
                                </td>
                              </tr>
                              <tr>
                                <td align="right" width="60px">浏览量：</td>
                                <td style="width:10px">
                                    <b class=" ma-le-6" style="color:red">{$GoodsDetail.view}</b>               
                                </td>
                                <td align="right" width="60px">购买量：</td>
                                <td>
                                    <b class=" ma-le-6" style="color:red">{$GoodsDetail.buy}</b>               
                                </td>
                              </tr>
                               <tr>
                                <td align="right" width="60px">上架时间：</td>
                                <td><p class="ma-le-6">{$GoodsDetail.addtime}</p></td>
                              </tr>
                              <tr>
                                <td align="right" width="60px">服&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;务：</td>
                                <td><p class="ma-le-6">由QAQ商城负责发货</p></td>
                                <td>
                               
                                <script type="text/javascript" src="__PUBLIC__/Home/js/jia.js" charset="utf-8"></script><script type="text/javascript" src="__PUBLIC__/Home/js/plugin.client.js" charset="utf-8"></script>
                                <!-- JiaThis Button END 分享商品链接-->
                                </td>
                              </tr>
                            </tbody></table>
                        </div>
                    </div>
                </div>
                <!--<form action="" name="buy_goods_form" method="post" id="buy_goods_form">-->
                <div class="right-area he315 ma-to--1">
                    <div class="right-area-le30 pa-3-0-0-30">
                        <div class="pro-promotions-area">
                            <table class="promotions-tab he40-tr-td" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                              
                            </tbody></table>
                        </div>
                        <div class="join-a-shopping-cart fl"><!-- location.href='/index.php/Home/Cart/cart.html-->
                        <form action="__MODULE__/Order/confirmOrder" method="post" name="nowBuySubmit" id="nowBuySubmit">
                                        <input type="hidden" name="goodname" id="goodname" value="{$GoodsDetail.goodsname}">
                                        <input type="hidden" name="goodId" id="goodId" value="{$GoodsDetail.id}"> 
                                        <input type="hidden" name="goodPrice" id="goodPrice" value="{$GoodsDetail.price}">                  <!-- 购买数量 -->
                                                <tr>
                                                    <td align="right" width="60px" margin="0px 0px 10px 0px">购买数量：</td>
                                                <td>
                                                <ul class="choice-colol ma-le-6">
                                                    <li style="margin:0px 0px 20px -5px">
                                                    <a onclick="switch_num(-1);" class="choice-number fl" title="减" style="width:24px">-</a>
                                                        <input class="wi43 fl" value="1" name="goods_num" id="goods_num"     readonly="" type="text">
                                                    <a onclick="switch_num(1);" class="choice-number fl" title="加" style="width:24px">+</a>
                                                </li>
                                                <li style="margin:5px 0px 0px 0px">
                                                    <span>(库存{$GoodsDetail.store})</span>
                                                </li>
                                                </ul>
                                                </td>
                                                </tr>
                                                <!-- 购买数量end -->
                                                <!-- 立即购买 -->

                                <button class="jrgwc-shopping-img jrgwc-shopping-img2"type="submit">立即购买</button>
                                                <!-- 立即购买end -->
                                            </form>

                            
                        </div>
                        <div class="join-a-shopping-cart ma-le-210 fl">
                            <button type=""submit class="jrgwc-shopping-img2" id="loginsumbit">
                                <span style="margin:0px 0px 0px -55px">加入购物车</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
                    <input name="goods_id" value="49" type="hidden">
                <input name="__hash__" value="68fc823c064073733cc6d659691e2a7a_d85d6db9178fc15fec38e1c25cd9c713" type="hidden">
                <!--</form>-->
            </div>
        </div>
    </div>
    <div class="layout ma-to-20 ov-hi">
        <div class="wi240 ov-hi fl">
            <div class="product-history-area">
                <div class="hi47 co-grey">
                    <h3 class="fl browse-his" style="margin:0px 0px 0px 0px">推荐商品</h3>
                    <!--<span class="fr pa-15-16-0-0"><a class="del-dust cu-po"></a></span>-->
                </div>
                <div class="history-bott">
                    <ul class="history-comm">
                    <foreach name="goodsdata" item="hostval">
                     <li>
                        <div style="margin:10px 0px 0px 0px">
                            <p class="p-img-comm fl">
                                <a href="__MODULE__/Gdetail/index?goodsId={$hostval.id}"><img class="img-comm" src="__PUBLIC__/Uploads/{$hostval.addtime}/{$hostval.picname}
                                " alt=""></a>
                            </p>
                            <p class="p-name-comm" >
                                <a href="__MODULE__/Gdetail/index?goodsId={$hostval.id}">商品名:{$hostval.goodname}</a>
                            </p>
                            <p class="p-price-comm">
                                <b>价格:{$hostval.price}</b>
                            </p>
                        </div>
                    </li>
                    </foreach>
                    
                </ul>
            </div>                
        </div>
    </div>
    <div class="wi940 ov-hi fr">
        <div class="comm-param">
            <div class="parame-title">
                <div class="par-titles co-grey">
                    <ul class="commodity-xq tab_li" style="margin-bottom:1px">
                        <li class="current cliks" onclick="switch_tab(this,'tab1')">
                            <a>商品详情</a>
                        </li>
                        <li class="cliks" onclick="switch_tab(this,'tab2')">
                            <a>用户评价</a>
                        </li>
                        <li class="cliks" onclick="switch_tab(this,'tab3')">
                            <a>规格参数</a>
                        </li>
                        <li class="cliks" onclick="switch_tab(this,'tab4')">
                            <a>售后服务</a>
                        </li>
                    </ul>
                </div>
            </div>
                    <!-------------------商品详情------------------>
                <div class="parame-bott cliks-bn" style="display:" id="tab1">
                    <div class="commodity-num pro-feature-area">                        
                        <div class="pro-disclaimer-area ma-to-20">
                            <p>
                                <img src="__PUBLIC__/Home/image/569600f51fcb8.jpg" style="float: none;" title="428_428_1000x1000.jpg">
                            </p>
                            <p>
                                <img src="__PUBLIC__/Home/image/569600f53946c.jpg" style="float: none;" title="428_428_1445240615061.jpg">
                            </p>
                            <p>
                                <img src="__PUBLIC__/Home/image/569600f548057.jpg" style="float: none;" title="800_800_1000x1000.jpg">
                            </p>
                            <p>
                            <br>
                            </p>
                        </div>
                    </div>
                </div>
                    <!-------------------规格参数------------------>
                <div class="parame-bott cliks-bn" style="display: none;" id="tab3">
                    <div class="commodity-num pro-feature-area wi850">
                        <table class="modity-zhut" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <th colspan="2"><h3>商品属性</h3></th>
                                </tr>       
                                <tr>
                                    <td class="wi143">网络制式</td>
                                    <td class="pa-5-0">TD-LTE/TD-SCDMA/GSM，支持中国移动4G/3G/2G，中国联通2G</td>
                                </tr>   
                                <tr>
                                    <td class="wi143">尺寸体积</td>
                                    <td class="pa-5-0">151.3mm x 76.3mm x 8.15mm</td>
                                </tr>   
                                <tr>
                                    <td class="wi143">外观样式/手机类型</td>
                                    <td class="pa-5-0">直板</td>
                                </tr>   
                                <tr>
                                    <td class="wi143">色数/灰度</td>
                                    <td class="pa-5-0">   </td>
                                </tr>   
                                <tr>
                                    <td class="wi143">长度</td>
                                    <td class="pa-5-0">151.3mm </td>
                                </tr>   
                                <tr>
                                    <td class="wi143">宽度</td>
                                    <td class="pa-5-0">76.3mm </td>
                                </tr>   
                                <tr>
                                    <td class="wi143">厚度</td>
                                    <td class="pa-5-0">8.15mm</td>
                                </tr>
                                <tr>
                                    <td class="wi143">内存容量</td>
                                    <td class="pa-5-0">16G</td>
                                </tr>
                                <tr>
                                    <td class="wi143">操作系统</td>
                                    <td class="pa-5-0">EMUI 3.1（兼容Android 5.1）</td>
                                </tr>
                                <tr>
                                    <td class="wi143">待机时间</td>
                                    <td class="pa-5-0">约200小时（注：取决于使用习惯和网络状况）</td>
                                </tr>
                                <tr>
                                    <td class="wi143">标准配置</td>
                                    <td class="pa-5-0">约10小时（注：取决于使用习惯和网络状况）</td>
                                </tr>
                                <tr>
                                    <td class="wi143">天线位置</td>
                                    <td class="pa-5-0">内置</td>
                                </tr>
                                <tr>
                                    <td class="wi143">摄像头</td>
                                    <td class="pa-5-0">1300万像素，堆栈式摄像头，28mm广角，5P镜头，超硬镀膜保护镜片</td>
                                </tr>
                                <tr>
                                    <td class="wi143">彩信/彩e</td>
                                    <td class="pa-5-0">支持</td>
                                </tr>
                                <tr>
                                    <td class="wi143">红外/蓝牙</td>
                                    <td class="pa-5-0">BT4.1</td>
                                </tr>
                                <tr>
                                    <td class="wi143">价格等级</td>
                                    <td class="pa-5-0">低价机</td>
                                </tr>                        
                            </tbody>
                        </table>
                    </div>
                </div>
                    <!-------------------售后服务------------------>
                <div class="parame-bott cliks-bn" style="display: none;" id="tab4">
                     <div class="com    modity-num pro-feature-area wi850 padding36-0-36-0">
                        <p class="fo-si-14 li-hi-1-5 fo-fa">
                            本产品全国联保，享受三包服务，质保期为：一年质保
                            <br>
                            如因质量问题或故障，凭厂商维修中心或特约维修点的质量检测证明，享受7天内退货，15日内换货，15日以上在质保期内享受免费保修等三包服务！
                            <br>
                            售后服务电话：400-830-8300
                            <br>
                            <span>TPshop消费者官网： 
                            <a href="http://localhost/index.php/Home/Goods/goodsInfo/id/49.html">http://www.tp-shop.com</a>
                            </span>
                            <br>
                        </p>
                    </div>
                </div>
                    <!-------------------用户评价------------------>
                <div class="parame-bott ov-hi" style="display: none;" id="tab2">
                    
                        <div class="evaluation-cen fo-fa">
                            <div class="eval-cen-le fl pa-le-12">
                                <ul>
                                    <li class="curres cliks">
                                        <a href="javascript:void(0);" data-t="1">
                                            <span>
                                                全部评价
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--------用户评价-start------------>
                        <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css" type="text/css">
                        <foreach name="assess" item="val">
                        <div class="evaluation-bott pa-to-25 cliks-bn" style="display: block;" id="ajax_comment_return">
                        <div class="pro-comment-item po-re pa-bo-20 di-ta">
                            <div class="pro-comment-user fl te-al pa-0-15 wi90 po-re">
                                <p>用户名:</p>
                                <p class="procomment-name">{$val.username}</p>
                                <s class="procomment-tag">
                                <!--  <i></i>-->
                                </s>
                            </div>
                            
                            <div class="pro-user-comment-main ma-0-25-0-0 ov-hi">
                                <div class="pro-user-comment">
                                    <div class="comm-t1 ov-hi">
                                        <div class="pro-user-score fl">
                                            <em>商品评分:{$val.grade}</em>  
                                            <span class="starRating-area">
                                            <s style="width: 60%;"> </s>
                                            </span>    
                                        </div>                
                                        <div class="pro-user-impre fl ov-hi">
                                        </div>
                                        <div class="pro-user-time wh-sp">{$val.addtime}</div>
                                    </div>
                                    <div class="comm-t2">
                                    <em>&nbsp;&nbsp;&nbsp;&nbsp;{$val.contents}<em>
                                    <br>                        
                                    </div>
                                </div>
                                <div class="arrow"></div>
                            </div>
                        </div>
                    </div>
                    <div class="pro-comment-item po-re pa-bo-20 di-ta">
                        
                </div>
                    <div class="eval-cen-ri fr pa-to-17 pa-ri-25 te-al-ri di-bl">
                        <div class="dataTables_paginate paging_simple_numbers">
                            <ul class="pagination"></ul>
                        </div>
                    </div>
                </foreach>
                </div>
<script>
    // 点击分页触发的事件
    $("#ajax_comment_return .pagination  a").click(function(){
        cur_page = $(this).data('p');
        ajaxComment(commentType,cur_page);
    });
</script>
        </div>
                <script>
                    $(document).ready(function(){
                         commentType = 1; // 评论类型
                        ajaxComment(1,1);// ajax 加载评价列表
                          });
        
        // 好评差评 切换
          $(".eval-cen-le a").click(function(){
                $(".eval-cen-le li").removeClass('curres'); 
                $(this).parent().addClass('curres');    
                commentType = $(this).data('t');// 评价类型   好评 中评  差评
                ajaxComment(commentType,1);
                    });
                                                    
                           // 用ajax分页显示评论
                          function ajaxComment(commentType,page){
                                  $.ajax({
                                      type : "GET",
                                      url:"/php?m=Home&c=Goods&a=ajaxComment&goods_id=49&commentTcommentType+"&p="+page,//+tab,"
                                      success: function(data){
                                          $("#ajax_comment_return").html('');
                                          $("#ajax_comment_return").append(data);
                                      }
                                  });
                              } 
                            </script>   
                        <!--------用户评价-end---------------->
                </div>
            </div>       
            
<script>
$().ready(function(){
        $('#loginsumbit').click(function() {
            var num= $('#goods_num').val();
            var id= $('#goodsid').val();
                    $.ajax({
                        type:"POST",
                        url:'__MODULE__/Cart/add',
                        cache:false,
                        dataType: "json",
                        contentType: "application/x-www-form-urlencoded; charset=utf-8",
                        data: {
                            'id':id,'num':num,  //多参数使用逗号隔开
                            //'abc':nums
                        },
                        //购物车传过来的
                        success:function(data){

                            alert("加入成功");
                            
                            //console.log(msg);
                        },
                        error:function(xhr){
                            alert("出错");
                        }
                    });
                    return false; // 阻止表单自动提交事件
                });

    });

//------------自己写的放大镜------------------
                        $image = $('#zs-focus-list ul').find('img');
                        $small = $('#zs-big-pic').find('img');
                        $big = $('#zoom1-big').find('img');
                        $image.on('click', function(){
                            picSrc = $(this).attr('src');
                            $image.css({'border':''});
                            $(this).css({'border':'2px solid red'});
                            $small.attr('src', picSrc);
                            $big.attr('src', picSrc);
                        });
                        $small.on('mousemove', function(e){
                            x = e.pageX - $small.offset().left;
                            y = e.pageY - $small.offset().top;
                            //小图限定尺寸
                            smallWidth = $small.attr('width');
                            smallHeight = $small.attr('height');
                            //获取图像的真实尺寸
                            width = $big[0].naturalWidth;
                            height = $big[0].naturalHeight;
                            //获取比例倍数
                            a = width/smallWidth;
                            b = height/smallHeight;
                            //获取偏移量
                            l = smallHeight/2;
                            //放大功能开始
                            $('#zoom1-big').scrollTop(y*b-l);
                            $('#zoom1-big').scrollLeft(x*a-l);
                            $('#zoom1-big').css({'display':'block'});
                        });
                        $small.mouseout(function(){
                            $('#zoom1-big').css('display','none');
                        });
                        
                        //-------------放大镜结束-------------------------
//---------放大镜结束-------------------------

$(document).ready(function(){	
	// 更新商品价格
	get_goods_price();
    $(".jqzoom").jqueryzoom({
		xzoom: 480,
		yzoom: 480,
		offset: 30,
        position: "right",
        preload: 1,
        lens: 1
    });
});

/**
* 切换规格
*/
function switch_spec(spec)
{
	$(spec).siblings('input').trigger('click');	 // 让隐藏的 单选按钮选中
	$(spec).parent().parent().parent().parent().find("div.sku").removeClass('sku-bo-blo'); //   清空勾选图标
	$(spec).parent().addClass('sku-bo-blo'); // 当前 加上勾选图标				
	// 更新商品价格
	get_goods_price();							
}

/**
* 购买商品数量加加减减
*/
function switch_num(num)
{
	var num2 = parseInt($("#goods_num").val());
	num2 += num;
	if(num2 < 1) num2 = 1; // 保证购买数量不能少于 1
	$("#goods_num").val(num2); // 修改商品购买数量
	// 更新商品价格
	//get_goods_price();
}
// 用作 sort 排序用
function sortNumber(a,b) 
{ 
	return a - b; 
} 
 /*** 查询商品价格*/  
 function get_goods_price()
 {	 	 	

	var goods_price = 999.00; // 商品起始价
	var store_count = 100; // 商品起始库存	

	var spec_goods_price = {"11_13_21":{"key":"11_13_21","price":"999.00","store_count":"100"}};  // 规格 对应 价格 库存表   //alert(spec_goods_price['28_100']['price']);	
	// 如果有属性选择项
	if(spec_goods_price != null)
	{
		goods_spec_arr = new Array();
		$("input[name^='goods_spec']:checked").each(function(){
			 goods_spec_arr.push($(this).val());
		});    
		var spec_key = goods_spec_arr.sort(sortNumber).join('_');  //排序后组合成 key			
		goods_price = spec_goods_price[spec_key]['price']; // 找到对应规格的价格		
		store_count = spec_goods_price[spec_key]['store_count']; // 找到对应规格的库存
	}
	
	var goods_num = parseInt($("#goods_num").val()); 
	// 库存不足的情况
	if(goods_num > store_count)
	{
	   goods_num = store_count;	   
	   layer.msg('库存仅剩 '+store_count+' 件', {icon: 2}); //alert('库存仅剩 '+store_count+' 件');
	   $("#goods_num").val(goods_num);
	}	
	$("#goods_price").html(goods_price * goods_num); // 变动价格显示
 }
  
/**
* 切换 商品详情  用户评价  规格参数  包装清单  售后服务
*/
function switch_tab(cur,tab)
{
	$("#tab1,#tab2,#tab3,#tab4").hide(); // 先全部隐藏
	$("#"+tab).show();	// 再显示其中一个	
	$("ul.tab_li li").removeClass("current"); // 先全部样式去除
	$(cur).addClass("current"); //  单独的给当前点击这个加上		
}
 


</script>

<script src="__PUBLIC__/Home/js/jqueryurlget.js"></script><!--获取get参数插件-->
<script> set_first_leader(); //设置推荐人 </script>
<include file="public/footer" />
<!--------footer-开始-------------->

</body>
</html>
